@use 'layout/_panel.scss'; 
@use 'base/_sizes.scss';
@use 'base/_colors.scss';
@use 'base/_typography.scss';
@use 'layout/layout.scss';
@use 'modules/forms.scss';

/* SCB only - Move */
#testMiljoText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.8rem;;
  background-color: #2E8657;
  color: #ffffff;
  height: 7rem;
  width: 13rem;
  transform: rotate(45deg);
  z-index: 501;
  position: fixed;
  top: -3rem;
  right: -6rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: sizes.$space-tiny;

  &:hover {
    opacity: 0.3;
  }
}

/* Elements that should have been inside the main wrapper */
div[role="main"], #table-title, #ctl00_navigationFlowControl, #ctl00_ctl00_navigationFlowControl, .h1title {
  @include layout.maingrid;
}

// Used to have same layout as above elements
#ctl00_breadcrumb1 {
  max-width: none;
  margin: 0 0;
}

div:empty, span:empty, a:empty, p:empty {
  display: none;
}

.h1title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.font-bold {
  @include typography.bold;
}

.header-text, .commandbar_changedecimal_titletext, .commandbar_changetexts_titletext {
  @include typography.header;

  // DESIGN CHANGES - NOT IMPLEMENTED
  /* 
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  */
  
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.commandbar_changedecimal_selectvaluetext, .commandbar_changedecimal_titletext, .commandbar_changepresentation_changetext, .commandbar_sum_sumallvaluestext {
  width: calc(100% - 2rem);
}

.commandbar_changepresentation_radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pxweb-input {
    display: block;
    // width: calc(100% - 2rem);
}

.xs-margin-left {
  margin-left: sizes.$space-extra-small;
}

.switch-layout-container {
  display: inline-block;
  position: absolute;

  input {
    margin: sizes.$space-small 0 0;
  }

  @media (max-width: 660px) {
    display: none;
  }
}

.searchvalues-container {
  select {
    float: left;
    clear: left;
  }

  .pxweb-info-text {
    float: left;
  }
}
.pxweb-buttons.cancel-icon, .pxweb-buttons.selectfromgroup-cancel {
  width: -moz-fit-content;
  width: min-content;
}

.savequery_container input[type="text"] {
  width: calc(100% - #{sizes.$space-extra-large} - #{sizes.$space-extra-large});
}

.querySummary div:nth-of-type(2) {
  margin-top: sizes.$space-medium;
}

  #SaveAsPanel input[type="submit"] {
    margin-top: sizes.$space-medium;
  }

  #OperationsPanel input[type="submit"].primary-btn {
    text-decoration: none;
  }

  .container_exit_buttons_row {
    margin-top: 1rem;
    /* padding: 1rem 0; */
    /* border-top: 1px solid #ccc; */
  }

.view-state {
    float: right;
    margin-top: -3rem;
    margin-bottom: sizes.$space-small;
  }
  
  .seperator {
    margin: 0 sizes.$space-small;
    color: colors.$panel-border-color;
  }
  
  .view-state span {
    font-weight: 700;
  }
  
  /* Very specific styling */
  
  .footnotes_container {
    max-width: typography.$max-text-width;
  }

  .footnotes {
    margin-top: sizes.$space-large;
    padding-top: sizes.$space-large;
    max-width: typography.$max-text-width;
    border-bottom: 1px solid colors.$panel-border-color;
  }

  .footnotes_container {
    br {
      display: unset;
    }
  }

  /* Make span tags in footnotes behave as paragraphs */
  .the_encodeColor_text.notetype_note_value, .notetype_valuenote_value, .the_long_text.notetype_note_value {
    margin-bottom: sizes.$space-medium;
  }

  .obs-notes {
    margin-bottom: sizes.$space-large;
  }

  .obs-notes-h3 {
    min-width: 100%;
  }

  .the_encodeColor_text .notetype_note_value, .the_encodeColor_text .notetype_valuenote_value {
    display: block;
    margin-bottom: sizes.$space-large;
  }
  
  /* Choose variables trigger */
  .justify-center {
    display: flex;
    justify-content: center;
  }

  /* Result page specific */
  #ApiAccordionHeader {
    > span {
      @include typography.textlink;
      @include typography.textlink__hover;
    }

    > span > span {
      text-decoration: underline;
    }

    &::before {
      content: "API";
      font-weight: 400;
      background-color: #5d5d5d;
      color: white;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;

      &:hover, &:focus {
        color: typography.$link__hover-text;
        background-color: typography.$link__hover-background;
      }
    }
  }

  .tablequery_informationpanel label {
    margin-top: 1rem;
  }

  .tablequery_query {
    font-size: typography.$font-size-medium;
  }

  .operations-container {
    align-items: start;
}

  /* Menu button styling */

  /* Search field */
  .search_panel input[type="text"] {
    margin-right: 0;
  }

  .search_label {
    display: block;
  }

  a.search-icon svg {
    display: none;
  }

  a.search-icon {
    @include forms.button;
    text-decoration: none;
    margin-top: sizes.$space-small;
    margin-bottom: sizes.$space-tiny;
  }

  a.go-to-advanced-search::before {
    margin-right: sizes.$space-tiny;
  }

  a.search-icon::before,  a.go-to-advanced-search::before {
    content: '🔎︎';
  }

  a.search-icon:hover::before, a.search-icon:focus::before, .go-to-advanced-search::before {
    text-decoration: none;
  }

  a.search-icon:hover, a.search-icon:focus {
    @include forms.button__hover;
  }

  .tools-header button::before, button.ui-dialog-titlebar-close::before {
    content: '✖';
    margin-right: sizes.$space-small;
  }

  .tools-header button {
    @include forms.button__hover;
  }
  .savequery_rblist input + label {
    width: calc(100% - 4rem);
  }


  input.download-icon {
    margin-top: sizes.$space-medium;
  }

  /* Edit and calculate dialogs */

  #ctl00_ctl00_ContentPlaceHolderMain_CommandBar1_CommandBar1_PluginControl_PluginControl_ChangeTextPanel {
    display: flex;
    flex-direction: column;
  }

  // Radio button hack
  .commandbar_deletevariable_nametext {
    display: flex;
    flex-direction: row;
  }

  #ctl00_ctl00_ContentPlaceHolderMain_CommandBar1_CommandBar1_PluginControl_PluginControl_DeleteValuePanel .font-normal-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-top: sizes.$space-medium;
  }

  /* 
  * Search variable form - For large amounts of values 
  */

  /* Hack for fetch all positioning */
  input.fetch-all-button {
    margin-right: 50%;
    margin-top: sizes.$space-medium;
  }


  /* 
  * Media queries 
  */
  @media(max-width:1140px) {
    main {
      /* margin:0 calc(#{sizes.$panel-width-small} + #{sizes.$space-large}) 0 auto;*/
      margin: 0 auto;
    }
  
    .presentation-left.mobilemenuhidden {
      width: #{sizes.$panel-width-small}px;
    }
  }
  
  @media(max-width:768px) {
    main {
      max-width: calc(100vw - 2rem);
      padding: 0;
    }
  
    .view-state {
      float: none;
      margin-top: 0;
    }
  
  }

  /* Advanced workflow styling */
  .arrow-right-pxbox-icon {
    padding: 0.75rem 0;
  }
  
/* Hierarchy tree */
.AspNet-TreeView li {
  &.AspNet-TreeView-Parent,&.AspNet-TreeView-Root {
    display: grid;
    grid-template-columns: 1rem auto 1fr;
    justify-items: start;
    align-items: baseline;

    input {
      justify-self: center;
    }
    label {
      padding: 0.5rem;
      margin: 0;
    }
  }
}