@use 'layout/_panel.scss'; 
@use 'base/_sizes.scss';
@use 'base/_colors.scss';
@use 'base/_typography.scss';
@use 'layout/layout.scss';
@use 'modules/forms.scss';

/* Elements that should have been inside the main wrapper */
div[role="main"], #table-title, #ctl00_navigationFlowControl, #ctl00_breadcrumb1, #ctl00_ctl00_navigationFlowControl, #ctl00_ctl00_breadcrumb1, #ctl00_breadcrumb, .h1title {
  @include layout.maingrid;
}

div:empty, span:empty {
  display: none;
}

.h1title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.font-bold {
  @include typography.bold;
}

.header-text, .commandbar_changedecimal_titletext, .commandbar_changetexts_titletext {
  @include typography.header;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.3rem;
}

.commandbar_changedecimal_selectvaluetext, .commandbar_changedecimal_titletext, .commandbar_changepresentation_changetext, .commandbar_sum_sumallvaluestext {
  width: calc(100% - 2rem);
}

.commandbar_changepresentation_radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pxweb-input {
    display: block;
    width: calc(100% - 2rem);
}

.xs-margin-left {
  margin-left: sizes.$space-extra-small;
}

.switch-layout-container {
  display: inline-block;
  position: absolute;

  input {
    margin: sizes.$space-small 0 0;
  }

  @media (max-width: 660px) {
    display: none;
  }
}

.searchvalues-container {
  select {
    float: left;
    clear: left;
  }

  .pxweb-info-text {
    float: left;
  }
}
.pxweb-buttons.cancel-icon, .pxweb-buttons.selectfromgroup-cancel {
  width: -moz-fit-content;
  width: min-content;
}

a.search-icon svg {
  display: none;
}

.savequery_container input[type="text"] {
  width: calc(100% - #{sizes.$space-extra-large} - #{sizes.$space-extra-large});
}

.querySummary div:nth-of-type(2) {
  margin-top: sizes.$space-medium;
}

  #SaveAsPanel input[type="submit"] {
    margin-top: sizes.$space-medium;
  }

  #OperationsPanel input[type="submit"].primary-btn {
    text-decoration: none;
  }

  .container_exit_buttons_row {
    margin-top: 1rem;
    /* padding: 1rem 0; */
    /* border-top: 1px solid #ccc; */
  }

  

.view-state {
    float: right;
    margin-top: -3rem;
    margin-bottom: sizes.$space-small;
  }
  
  .seperator {
    margin: 0 sizes.$space-small;
    color: colors.$panel-border-color;
  }
  
  .view-state span {
    font-weight: 700;
  }
  
  /* Very specific styling */
  
  .footnotes_container {
    max-width: typography.$max-text-width;
  }

  .footnotes {
    margin-top: sizes.$space-large;
    padding-top: sizes.$space-large;
    max-width: typography.$max-text-width;
    border-bottom: 1px solid colors.$panel-border-color;
  }

  .the_long_text.notetype_note_value {
    margin-bottom: sizes.$space-medium;
  }

  .obs-notes {
    margin-bottom: sizes.$space-large;
  }

  .obs-notes-h3 {
    min-width: 100%;
  }

  .the_long_text notetype_note_value {
    display: block;
    margin-bottom: sizes.$space-large;
  }
  
  /* Choose variables trigger */
  .justify-center {
    display: flex;
    justify-content: center;
  }

  /* Result page specific */
  #ApiAccordionHeader {
    > span {
      @include typography.textlink;
    }

    &::before {
      content: '<API>';
      font-weight: 300;
    }
  }

  .tablequery_informationpanel label {
    margin-top: 1rem;
  }

  .tablequery_query {
    font-size: typography.$font-size-medium;
  }

  .operations-container input[type="submit"] {
    background-color: transparent;
    text-decoration: underline;
    margin: 0 0.5rem 0.5rem 0;
    border-color: transparent;
    outline-color: transparent;
    font-weight: typography.$text-weight-medium;
    
    @include typography.textlink__hover;
}

  /* Menu button styling */
  .operations-container input {
    text-align: left;
  }

  /* Search field */
  .search_panel input[type="text"] {
    margin-right: 0;
  }

  .search_label {
    display: block;
  }

  a.search-icon {
    @include forms.button;
    text-decoration: none;
    margin-bottom: 0;
  }
  a.search-icon::before {
    content: '🔎︎';
  }

  a.search-icon:hover::before, a.search-icon:focus::before {
    text-decoration: none;
  }

  a.search-icon:hover, a.search-icon:focus {
    @include forms.button__hover;
  }


  input.download-icon {
    margin-top: sizes.$space-medium;
  }

  /* Edit and calculate dialogs */

  #ctl00_ctl00_ContentPlaceHolderMain_CommandBar1_CommandBar1_PluginControl_PluginControl_ChangeTextPanel {
    display: flex;
    flex-direction: column;
  }

  // Radio button hack
  .commandbar_deletevariable_nametext {
    display: flex;
    flex-direction: row;
  }

  #ctl00_ctl00_ContentPlaceHolderMain_CommandBar1_CommandBar1_PluginControl_PluginControl_DeleteValuePanel .font-normal-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-top: sizes.$space-medium;
  }


  /* Media queries */
  @media(max-width:1140px) {
    main {
      max-width: 90vw;
      /* margin:0 calc(#{sizes.$panel-width-small} + #{sizes.$space-large}) 0 auto;*/
      margin: 0 auto;
      padding-left: sizes.$space-large;
    }
  
    .presentation-left.mobilemenuhidden {
      width: #{sizes.$panel-width-small}px;
    }
  }
  
  @media(max-width:768px) {
    main {
      max-width: calc(100vw - 2rem);
      padding: 0;
    }
  
    .view-state {
      float: none;
      margin-top: 0;
    }
  
  }
  
  