@use "../base/_sizes";
@use "../base/colors";
@use '../layout/panel';

.fullscreen main, .fullscreen div[role="main"]  {
  max-width: calc(100vw -  #{sizes.$space-large} - #{sizes.$space-large});
  margin: 0;
  padding: 0 sizes.$space-large;
}

#Fullscreen:fullscreen {
  background-color: colors.$page-background;
  padding: 0;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  
  > div {
    margin: 0 auto;
  }
}

#Fullscreen > div:first-of-type {
  border-bottom: 1px solid panel.$panel-border-color;
  margin-bottom: sizes.$space-large;
}