@use "../base/_sizes";
@use "../base/colors";
@use '../layout/panel';

body:fullscreen {
  overflow: scroll !important;
}

.fullscreen main, .fullscreen div[role="main"]  {
  max-width: calc(100vw -  #{sizes.$space-large} - #{sizes.$space-large});
  margin: 0;
  padding: 0 sizes.$space-large;
}

#Fullscreen:fullscreen {
  background-color: colors.$page-background;
  padding: sizes.$space-large;
}

#Fullscreen > div:first-of-type {
  border-bottom: 1px solid panel.$panel-border-color;
  margin-bottom: sizes.$space-large;
}