@use "../base/_sizes";
@use "../base/colors";

.fullscreen main, .fullscreen div[role="main"]  {
  max-width: calc(100vw -  #{sizes.$space-large} - #{sizes.$space-large});
  margin: 0;
  padding: 0 sizes.$space-large;
}

input#btnfullscreen {
  position: fixed;
  right: sizes.$panel-width;
  margin: sizes.$space-medium;
  top: 0;
  opacity: 0.7;
  transform: 0.3s;
}

.mobilemenuhidden + input#btnfullscreen {
  right: 0;
}

@media (min-width: 480px) and (max-width: 900px) {
  input#btnfullscreen {
    right: 0;
  }
}

#Fullscreen:fullscreen {
  background-color: colors.$page-background;
  padding: sizes.$space-large;
}