@use '../base/sizes';
@use '../base/colors';
@use '../base/typography';


header, #header {
  border-bottom: 1px solid colors.$panel-border-color;
  margin-bottom: 1rem;
  padding: 0 0 1.25rem 0;
  background-color: #fff;
}

#header .headerleft a {
  span {
    text-decoration: none;
    color: typography.$text;

    &:hover, &:focus, &active {
      color: typography.$text;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &:hover, &:focus, &active {
    color: typography.$text;
    background-color: transparent;
    cursor: pointer;
  }
}

#header .headerright a {
  @include typography.textlink__hover;
}

img.logo, .imgSiteLogo {
  max-height: 50px;
  margin-right: 1rem;
}

img.logo-quality, .officialStatisticsImage {
  margin-bottom: sizes.$space-extra-small;
  height: 24px;
}

.top-link {
  position: fixed;
  bottom: 0;
  right: 48vw;
  padding: sizes.$space-large;
  background: colors.$panel-background;
  display: flex;
  transition: 0.3s;
}

.siteLogoText {
  @extend h3;
  align-self: center;
  margin: 0;
}

.headerright {
  display: flex;
  flex-direction: row;
  gap: sizes.$space-extra-large;
  justify-content: space-between;
  align-items: center;
}