@use "../base/colors";
@use "../base/sizes";
/*
* Panels used in choose variables
*/

$panel-border-width: 1px;
$panel-padding: 1rem 1rem;

@mixin panel {
    background-color: colors.$panel-background;
    margin-bottom: sizes.$space-extra-large;
    // padding: sizes.$space-large;
}