@use "../base/colors";
/*
* Panels used in choose variables
*/
$panel-left-background: #fff;
$panel-background: colors.$color-light;
$panel-border-color: colors.$color-medium;

$panel-border-width: 1px;
$panel-padding: 1rem 1rem;
$panel-width: 476px;
$panel-width-small: 320px;

@mixin panel {
    background-color: $panel-background;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}