/*
* Panels used in choose variables
*/
$panel-left-background: #fff;
$panel-background: #fff;
$panel-border-color: #949494;

$panel-border-width: 1px;
$panel-padding: 1rem 1rem;
$panel-width: 476px;
$panel-width-small: 320px;

@mixin panel {
    background-color: $panel-background;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}