@use '../layout/panel';
@use '../base/sizes';

..navigationFlowArea-left {
    position: fixed;
    overflow: auto;
    height: 100vh;
    width: sizes.$panel-width;
    top: 0;
    right: 0;
    background-color: #f8f8f8;
    padding: 0;
    box-shadow: 3px 0 8px rgba(25, 25, 25, 0.4);
    border-left: 1px solid #ddd;
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  ..navigationFlowArea-left button.accordion-header, ..navigationFlowArea-left button.nested-accordion-header.closed, ..navigationFlowArea-left .closed .accordion-body {
    background-color: #f8f8f8;
  }
  
  