@use '../base/_sizes';
@use '_header.scss';
@use '_panel.scss';


main, div[role="main"] {
  max-width: 1440px;
  margin:0 auto;
  margin-right: calc(panel.$panel-width + $space-large);
  padding-left: sizes.$space-large;
}

.fullscreen main, .fullscreen div[role="main"]  {
  max-width: calc(100vw -  sizes.$space-large - sizes.$space-large);
  margin: 0;
  padding: 0 sizes.$space-large;
}

main, div[role="main"] {
  max-width: 1440px;
  margin:0 auto;
  margin-right: calc(panel.$panel-width + panel.$space-large);
  padding-left: sizes.$space-large;
}

