@use '../base/sizes';
@use '_fullscreen.scss';
@use '_header.scss';
@use '_panel.scss';
@use '_flex.scss';
@use '_tools.scss';

@mixin maingrid {
  max-width: 1440px;
  margin:0 auto;

  @media (min-width: 480px) and (max-width: 900px) {
    max-width: 90vw;
    margin: 0;
  }
}

main {
  @include maingrid;
}

.result main {
  margin-right: calc(#{sizes.$panel-width} + #{sizes.$space-large});
}

