table {
    margin-top: 12px;
    border-spacing: 0px;
    margin-bottom: 36px;
    line-height: 20px;
    overflow: hidden;
}

tbody > tr:nth-child(odd) > td, tbody > tr:nth-child(odd) > th {
    background: rgba(30, 0, 190, 0.04);
}

tbody > tr:nth-child(even) > td, tbody > tr:nth-child(even) > th {
    background: #fff;
}

td, th {
    padding: 10px 9px;
    border-left: 1px solid #222;
    border-top: 1px solid #222;
    border-bottom: none;
    border-right: none;
    vertical-align: text-top;
    text-align: right;
}
  
table > tbody > tr:last-child > td, table > tbody > tr:last-child > th {
    border-bottom: 2px solid #222;
} 

tbody tr th:first-child, tbody tr td:first-child, thead tr td:first-child {
    text-align: left;
    border-left: none;
}

thead th {
    border-left: 1px solid #222;
}

table tr th:last-child, table tr td:last-child {
    border-right: none;
}

thead th, thead td {
    font-weight: bold;
    text-align: left;
    background-color: #fff;
}
