*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --page-background: #fff;

  --panel-left-background: #fff;
  --panel-background: #fff;
  --panel-border-color: #949494;
  --panel-border-width: 1px;
  --panel-padding: 1rem 1rem;
  --panel-width: 476px;
  --panel-width-small: 320px;

  --text: #222;
  --text-dark: #000;
  --text-inactive: #999;
  --text-inverted: #fff;

  --link-text: #006E91;
  --link__hover-text: var(--text-dark);
  --link__hover-background: #f6f5fd;

  --selected-text: var(--text-inverted);
  --selected-background: var(--text-dark);

  --field-background: #fff;

  --button-primary-background: #006E91;
  --button-primary-text: var(--text-inverted);

  --button-secondary-background: #ffffff;
  --button-secondary-text: #006E91;

  --button__hover-background: #222;
  --button__hover-text: #fff;

  --space-large: 2rem;
  --space-small: 1rem;
  --space-smallest: 0.5rem;

  --stepper-1-adjust: -2rem;
  --stepper-2-adjust: -2.5rem;
  --stepper-3-adjust: -2rem;
  --stepper-left-space: 2rem;

  --max-text-width: 720px;
  --max-header-width: 920px;
}

html {
  color: var(--text);
}

@font-face {
  font-family: 'Varta';
  src: url('./assets/Varta-VariableFont_wght.ttf');
}


@font-face {
  font-family: 'PublicSans';
  src: url('./assets/PublicSans-VariableFont_wght.ttf');
}

@font-face {
font-family: system;
src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
  font-size: 100%;
  padding: 0;
  line-height: 1.4;
}

body {
  font-family: 'PublicSans', "system";
  background-color: var(--page-background);
  margin: 0;
}

.fullscreen main {
  max-width: calc(100vw -  var(--space-large) - var(--space-large));
  margin: 0;
  padding: 0 var(--space-large);
}

main {
  max-width: 1440px;
  margin:0 auto;
  margin-right: calc(var(--panel-width) + var(--space-large));
  padding-left: var(--space-large);
}

h1, h2, h3, h4, .variableselector_variable_box_container label {
  font-weight: 700;
  max-width: var(--max-header-width);
}

h1 {
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 1.5rem 0;
}

h3, .variableselector_variable_box_container label {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

.container_titletext {
  margin-top: 2rem;
}

label span {
  font-weight: 400;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.3rem;
}

h5, button.nested-accordion-header, .accordion-body legend {
  font-weight: 700;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-bottom: var(--space-small);
}

p, input, select, option, button.accordion-header, button.nested-accordion-header, button {
  font-family: 'PublicSans', "system";
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
}

p, span, a, .steps {
  max-width: var(--max-text-width);
  display: inline-block;
}

a {
  color: var(--link-text);
  text-decoration: underline;
}

nav a {
  font-weight: 500;
  padding: 0.25rem 0.25rem 0.05rem;
  line-height: 100%;
}

nav.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  margin: 2rem 0;
  margin-left: var(--stepper-left-space);
}

/* Adjust text position of stepp */
.steps a.first span {
  margin-left: var(--stepper-1-adjust);
}

.steps a.second span {
  margin-left: var(--stepper-2-adjust);
}

.steps a.third span {
  margin-left:var(--stepper-3-adjust);
}

.steps a {
  display: inline-block;
  padding: 0;
  line-height: 100%;
  text-decoration: none;
}

.steps a span {
  position: absolute;
  margin-top: 1rem;
}

.steps a::before {
  color: var(--text-inverted);
  font-size: 2rem;
  display: block;
}

.steps a.active::before {
  content: '◉';
  color: var(--text);
}

.steps a.future::before {
  content: '○';
  color: var(--text-inactive);
}

.steps a.passive::before {
  content: '○';
  color: var(--text);
}

.steps a.passive span, .steps a.active span {
  text-decoration: underline;
}

.steps a.future span {
  color: var(--text-inactive);
}

.steps a.active {
  color: var(--text);
  text-decoration: none;
}

span.step_sep {
  flex-grow: 2;
  border-top: 2px solid var(--panel-border-color);
  margin-top: 0.5rem;
}

span.step_sep.future {
  border-color: var(--text-inactive);
  border-top-style: dashed;
}

a:hover, a:focus, input[type="radio"] + label:hover, input[type="radio"]:checked + label {
  color: var(--link__hover-text);
  cursor: pointer;
}

input[type="radio"]+label {
  margin-bottom: 0.5rem;
  display: inline-block;
  width: calc(100% - 2rem);
  vertical-align: top;
  padding: 0.25rem;
  line-height: 140%;
}

::selection, ::-moz-selection {
  color: var(--selected-text);
  background-color: var(--selected-background);
}

header {
  border-bottom: 1px solid var(--panel-border-color);
  margin-bottom: 1rem;
  padding: 0.75rem;
  background-color: #fff;
  padding-left: var(--space-large);
}

.siteName {
  font-weight: 300;
  font-size: 1rem;
}

img.logo {
  max-height: 50px;
  margin-right: 1rem;
}

img.logo-quality {
  max-width: 240px;
  margin-bottom: var(--space-small);
}

.top-link {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.25rem;
  background: var(--panel-background);
  display: flex;

}

/* Panel */
.variableselector_variable_box_container > div, div.accordion {
    /* background-color: var(--panel-background); */
    background-color: #f7f7f7;
    /* border: var(--panel-border-color) var(--panel-border-width) solid; */
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}

select {
  -webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
  border: 1px solid var(--panel-border-color);
  background-color: var(--field-background);
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 255 255' width='18' height='18' xmlns='http://www.w3.org/2000/svg'><g><polygon points='0,63.75 127.5,191.25 255,63.75' fill='black' /></g></svg>");
	background-position: 97% center;
	background-repeat: no-repeat;
	outline: none;
}

select[multiple] {
  appearance: none;
  border: 1px solid var(--panel-border-color);
  background-image: none;
  padding: 0;
  margin-bottom: var(--space-small);
  border-radius: 4px;
}

select[multiple] option:checked {
  background: var(--selected-background) linear-gradient(0deg, var(--selected-background) 0%, var(--selected-background) 100%);
  -webkit-text-fill-color: var(--selected-text);
  color: var(--selected-text);
}

option {
  padding: 0.6rem 0.75rem;
  min-width: 10rem;
  margin-bottom: 0;
}

option:checked {
  background-color: var(--selected-background);
  color: var(--selected-text);
  cursor: pointer;
}

option:hover, option:active, option:focus {
  background-color: var(--link__hover-background);
  color: var(--text-dark);
  text-decoration: underline;
  cursor: pointer;
}

input, select {
  padding: var(--space-smallest);
  color: var(--text);
  margin-bottom: 0;
}

button, input[type=submit], input[type="button"], input[type="submit"].container_continuebutton {
  padding: var(--space-smallest) var(--space-small);
  border-radius: 0.25rem;
  margin-right: var(--space-smallest);
  /* margin-top: var(--space-small); */
  margin-bottom: 0.75rem;
  color: var(--button-primary-text);
  background-color: var(--button-primary-background);
  border:2px var(--button-primary-background) solid;
}

button.secondary-btn, input[type="button"].secondary-btn, input[type="submit"] {
  background-color: transparent;
  border:2px var(--button-primary-background) solid;
  color: var(--button-secondary-text);
  max-height: 2.6rem;
}

input[type="submit"].icon-placement {
  background-color: transparent;
  text-decoration: underline;
  padding: 0;
  margin: 0 0.5rem 0.5rem 0;
  border-color: transparent;
  border-radius: 0;
  float: left;
  clear: left;
  font-weight: 700;
}

input, option {
  font-weight: 500;
}

input[type="radio"] {
    margin-bottom: var(--space-small);
    margin-right: var(--space-smallest);
    display: inline-block;
}

button:hover, button:focus, input[type="button"]:hover,input[type="button"]:focus, input[type=submit]:hover, input[type=submit]:focus {
  background-color: var(--button__hover-background);
  color: var(--button__hover-text);
  cursor: pointer;
  border-color: transparent;
}

/* Accordions */

/* Reset fieldset */
.accordion-panels legend {
  width: 100%;
  padding: 0;
}
.accordion-panels fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

button.accordion-header:hover span, button.nested-accordion-header:hover, button.accordion-header:focus span, button.nested-accordion-header:focus  {
  text-decoration: underline;
}

button.accordion-header, button.nested-accordion-header  {
  background-color: #fff;
  color: var(--text);
  width: 100%;
  /* border: var(--panel-border-width) solid var(--panel-border-color); */
  border-width: 0;
  border-radius: 0;
  text-align: left;
  padding: 1.5rem 0;
  margin: 0;
  border-top: 1px solid var(--panel-border-color);
  font-weight: 700;
}

button.accordion-header.closed, button.nested-accordion-header.closed {
  margin-bottom: 0;
  /* font-weight: 400; */
  display: inline-block;
}

button.nested-accordion-header {
  display: none;
  font-weight: 400;
  border-top: none;
  padding: var(--space-small);
}

.accordion-body {
  margin-bottom: 2.5rem;
  padding-left: var(--space-small);
}

button.accordion-header:before {
  content: '▴';
  padding-right: 0;
  margin-right: 9px;
}

.operations-container button:first-of-type {
  border-top-width: 0;
  padding-top: 0;
}

.operations-container .secondary-btn {
  margin-top: 0;
  /* margin-left: 1.25rem; */
  float: left;
  clear: left;
}

button.accordion-header.closed:before {
  content: '▾';
}

button.nested-accordion-header {
  background-color: var(--panel-background);
  color: var(--text);
  padding-left: 0;
  display:
}

.pxweb-nested-accordion dl {
  display: flex;
  justify-content: start;
  flex-shrink: 1;
}

.pxweb-nested-accordion dd {
  margin-left: var(--space-smallest);
}

.accordion-body {
  background-color: transparent;
  color: var(--text);
  width: 100%;
  /* border: var(--panel-border-width) solid var(--panel-border-color); */
  border-top: 0;
  border-radius: 0;
  text-align: left;
  padding: 0
  width: 100%;
}

.accordion-body.closed {
  display: none;
}

.accordion-body div {
  width: 100%;
}

.accordion-body fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Result page specifics
.presentation-container {
  display: grid;
  grid-template-columns: minmax(70%, auto) minmax(auto, 320px);
  grid-template-areas: 'main secondary';
  gap: 2rem;
  margin-top: 2rem;
}*/

.presentation-main {
  /* grid-area: main;*/
}

.presentation-left {
  /* margin-top: 3.4rem; */
  /* grid-area: secondary; */
  position: fixed;
  overflow: auto;
  height: 100vh;
  width: var(--panel-width);
  top: 0;
  right: 0;
  background-color: var(--panel-left-background);
  padding: 0.5rem 1.5rem 1rem;
  box-shadow: 3px 0 8px rgba(25, 25, 25, 0.4);
  border-left: 1px solid #ddd;
}

.presentation-left button.accordion-header, .presentation-left button.nested-accordion-header.closed, .presentation-left .closed .accordion-body {
  background-color: var(--panel-left-background);
}

input[value="Fullscreen"] {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.7;
}

.commandbar-shortcuts {
  /* margin-top: 0.5rem; */
  margin-bottom: 2rem;
}

.commandbar_container {
  /* border-top: 1px solid var(--panel-border-color); */
  clear: left;
}

.container_exit_buttons_row {
  /* margin-top: 1rem; */
  padding: 1rem 0;
  /* border-top: 1px solid #ccc; */
}

/* Change variable specific */

.view-state {
  float: right;
  margin-top: -3rem;
  margin-bottom: var(--space-small);
}

.seperator {
  margin: 0 0.5rem;
  color: var(--panel-border-color);
}

.view-state span {
  font-weight: 700;
}

/* Very specific styling */
.obs-notes {
  margin-bottom: var(--space-large);
}

/* Choose variables trigger */
.justify-center {
  display: flex;
  justify-content: center;
}

/* Utility classes */
.aflex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* Media queries */
@media(min-width:1140px) {
  .burger_menu-icon {
    display: none;
  }
}
@media(max-width:1140px) {
  main {
    max-width: 90vw;
    margin:0 calc(var(--panel-width-small) + var(--space-large)) 0 auto;
    padding-left: var(--space-large);
  }

  .flex-row {
    display: flex;
    flex-direction: column;
  }

  .presentation-left {
    width: var(--panel-width-small);
  }
}

@media(max-width:768px) {
  main {
    max-width: calc(100vw - 2rem);
    padding: var(--space-smallest);
  }

  .view-state {
    float: none;
    margin-top: 0;
  }

  /* Loves tillägg */
  div#navigationFlow {
    margin: 2rem 0;
  }

  .navigationFlowArea.flex-row.justify-center.align-flex-start {
    display: flex;
    flex-direction: row;
  }

  .variableselector_valuesselect_statistics_panel {
    margin-top: 1rem;
  }

  .flex-row.justify-center.m-margin-top {
    margin-bottom: 2rem;
  }

  .footnote_definitionlist.only_mandatory {
    margin-bottom: 2.5rem;
  }

  .header-text {
    font-weight: 700;
  }
}
