
/*
* Colors
*/

/*-- Text, borders, panels --*/
$color-lightest:            #fff;    // Backgrounds, inverted text
$color-light:               #ccc;    // Alternate backgrounds
$color-medium:              #949494; // Borders
$color-dark:                #222;    // Text, Inverted background
$color-darkest:             #000;    // Emphasized text

/*-- Active and hover colors --*/

/*-- Primary --*/
$color-primary:             #006E91; // Links, button background
$color-primary-light:       #00bdf7;
$color-primary-dark:        #001920; // Link hover, button hover background
$color-primary-text:        #fff;    // Text on primary used as background

/*-- Secondary --*/
$color-secondary:           #006E91;
$color-secondary-light:     #00bdf7;
$color-secondary-dark:      #022833;
$color-secondary-text:      #fff;
