
/*
* Colors
*/

/*-- Base --*/
$color-lightest:            #fff;    // Backgrounds, inverted text
$color-light:               #ccc;    // Alternate backgrounds
$color-medium:              #949494; // Borders
$color-dark:                #222;    // Text, Inverted background
$color-darkest:             #000;    // Emphasized text

/*-- Primary --*/
$color-primary:             #006E91; // Links, button background
$color-primary-light:       #00bdf7;
$color-primary-dark:        #001920; // Link hover, button hover background
$color-primary-text:        #fff;    // Text on primary used as background

/*-- Secondary --*/
$color-secondary:           #006E91;
$color-secondary-light:     #00bdf7;
$color-secondary-dark:      #022833;
$color-secondary-text:      #fff;

/* Buttons */

$button-primary-background: $color-primary;
$button-primary-text: #fff;

$button-secondary-background: #ffffff;
$button-secondary-text: #006E91;

$button__hover-background: #222;
$button__hover-text: #fff;

/* Inputs */
$input-background: #fff;
$input-border-color: $color-light;
$input-border-color__hover: $color-dark;

/* Tables */

$table-border-color: #222;
$table-background-odd: #f8f8f8;
$table-background-even: #fff;
$table-border-outline-color: #eee;
