$page-background: #fff;



  $field-background: #fff;

  $space-large: 2rem;
  $space-small: 1rem;
  $space-smallest: 0.5rem;

  $stepper-1-adjust: -2rem;
  $stepper-2-adjust: -2.5rem;
  $stepper-3-adjust: -2rem;
  $stepper-left-space: 2rem;

  $max-text-width: 720px;
  $max-header-width: 920px;
