/*
* Sizes
*/

/* Default spacing */
$space-extra-large: 2rem !default;
$space-large: 1.5rem !default;
$space-medium: 1rem !default;
$space-small: 0.75rem !default;
$space-extra-small: 0.5rem !default;
$space-tiny: 0.25rem !default;

/* Panel size */
$panel-width: 420 !default;
$panel-width-small: 420 !default;

/* Buttons */
$button-border-width: 1px;
$button-outline-width: 1px;

/* Stepper */
$stepper-width: 768px;

