/*
* Text and typography
*
* Uses Public Sans variable font to allow many weights with a small footprint. The font is locally served.
* https://public-sans.digital.gov/
*
* Fallback to OS fonts. Remove reference to Public Sans to further increase page load.
*/

@use '../base/sizes';
@use '../base/colors';

$text:                   colors.$color-dark;
$text-dark:              colors.$color-darkest;
$text-inactive:          colors.$color-medium;
$text-inverted:          colors.$color-lightest;

$link-text:              colors.$color-primary;
$link__hover-text:       colors.$color-primary-dark;
$link__hover-background: colors.$color-primary-text;

$selected-text:          colors.$color-lightest;
$selected-background:    colors.$color-dark;

$text-weight-normal:     400;
$text-weight-medium:     500;
$text-weight-bold:       700;

$max-text-width:         720px;
$max-header-width:       920px;

$font-size-normal:         16px;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'PublicSans';
  src: url('/dev/assets/PublicSans-VariableFont_wght.ttf');
}

// src: url('https://github.com/uswds/public-sans/raw/develop/fonts/variable/PublicSans%5Bwght%5D.ttf');

@font-face {
font-family: system;
src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
  color: $text;
  font-size: 100%;
  font-size: $font-size-normal;
  line-height: 1.4;
}

@mixin fontfamily {
  font-family: 'PublicSans', 'Public Sans', "system";
}

body {
  @include fontfamily;
}

@mixin bold {
  font-weight: bold;
}

/* -- Headers -- */

@mixin header {
  font-weight: $text-weight-bold;
  max-width: $max-header-width;
  text-transform: capitalize;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  @include header;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6875rem;
  line-height: 1.4;
  margin: 2rem 0 1.5rem;
}

h3 {
  font-size: 1.3125rem;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.3rem;
}

h5 {
  font-weight: $text-weight-bold;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-bottom: sizes.$space-small;
}

button.nested-accordion-header, .accordion-body legend {
  @extend h5;
}

.variableselector_variable_box_container label, .container_titletext {
  @extend h3;
}

.container_titletext {
  margin-top: 0;
}

.variableselector_variable_box_container label, label, input[type="radio"]:checked + label {
  @include header;
}

label span {
  font-weight: $text-weight-normal;
}

/* -- Regular text -- */

p, span, a, .steps {
  max-width: $max-text-width;
  display: inline-block;
}

@mixin text {
  @include fontfamily;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: $text-weight-normal;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
}

p {
  @include text;  
}

input, select, option {
  @include text;
}

button, button.accordion-header, button.nested-accordion-header,  {
  @include text;

  background-color: #fff;
  color: $text;
}

.siteName {
  @include text;  
}

/* Links */
@mixin textlink {
  color: $link-text;
  cursor: pointer;
  text-decoration: underline;
}

@mixin textlink__hover {
  color: $link__hover-text;
  cursor: pointer;
  text-decoration: none;
}

a {
  @include textlink;
}

a:hover, a:focus, a:active {
  @include textlink__hover;
}

input[type="radio"] + label:hover, input[type="radio"]:checked + label {
  @include textlink__hover;
}

/* Selected text */
::selection, ::-moz-selection {
  color: $selected-text;
  background-color: $selected-background;
}