/*
* Text and typography
*
* Uses Public Sans variable font to allow many weights with a small footprint. The font is locally served.
* https://public-sans.digital.gov/
*
* Fallback to OS fonts. Remove reference to Public Sans to further increase page load.
*/
@use '../base/sizes';
@use '../base/colors';
@use '../base/breakpoints';

$text:                   colors.$color-dark !default;
$text-dark:              colors.$color-darkest !default;
$text-inactive:          colors.$color-medium !default;
$text-inverted:          colors.$color-lightest !default;

$link-text:              colors.$color-primary !default;
$link__hover-text:       colors.$color-darkest !default;
$link__hover-background: colors.$color-primary-text !default;

$selected-text:          colors.$color-lightest !default;
$selected-background:    colors.$color-dark !default;

$font-weight-normal:     400 !default;
$font-weight-medium:     500 !default;
$font-weight-semibold:   600 !default;
$font-weight-bold:       700 !default;

$max-text-width:         720px !default;
$max-header-width:       920px !default;

$font-size-normal:         16px !default;
$font-size-medium:      1.15rem !default;

$font-size-h1:          2.25rem !default;
$font-size-h2:        1.6875rem !default;
$font-size-h3:        1.3125rem !default;
$font-size-h4:         1.125rem !default;

/* Use local font or CDN */
$use_localfont: false !default;

@if not $use_localfont {
  @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');
}

@if $use_localfont {
  @font-face {
    font-family: 'Public Sans';
    src: url('/dev/assets/PublicSans-VariableFont_wght.ttf');
  }
}

@font-face {
  font-family: system;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@mixin fontfamily {
  font-family: 'Public Sans', "system", sans-serif;
}

html {
  color: $text;
  background-color: colors.$page-background;
  font-size: 100%;
  font-size: $font-size-normal;
  line-height: 1.4;
}

body {
  @include fontfamily;
}

@mixin extrabold {
  font-weight: 700;
}

@mixin bold {
  font-weight: 600;
}

@mixin label {
  @include bold;
  font-size: $font-size-h4;
  margin-bottom: sizes.$space-small;
  &:first-letter {
    text-transform: capitalize;
  }
}

/* For checkboxes, radios */
@mixin list_option {
  font-size: $font-size-normal;
  margin-bottom: sizes.$space-small;
  &:first-letter {
    text-transform: capitalize;
  }
}

/* -- Headers -- */

@mixin header {
  @include extrabold;
  max-width: $max-header-width;
  &:first-letter {
    text-transform: capitalize;
  }
  line-height: 1.2;
}

@mixin h1 {
  @include header;

  font-size: $font-size-h1;
  line-height: 1.25;
  margin-bottom: 2rem;
  /* margin-top: 1rem;*/

  @media (max-width: breakpoints.$small) {
    font-size: $font-size-h2;
  }
}

@mixin h2 {
  @include header;

  font-size: $font-size-h2;
  line-height: 1.4;
  margin: 2rem 0 1.5rem;

  @media (max-width: breakpoints.$small) {
    font-size: $font-size-h3;
  }
}

@mixin h3 {
  @include header;

  font-size: $font-size-h3;
  line-height: 1.4;
  margin-bottom: 0.75rem;

  @media (max-width: breakpoints.$small) {
    font-size: $font-size-h4;
  }
}

@mixin h4 {
  @include header;

  font-size: $font-size-h4;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: sizes.$space-tiny;
}

@mixin h5 {
  @include header;
  
  font-weight: $font-weight-bold;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-bottom: sizes.$space-small;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

/* TODO: Alla dessa borde göras till riktiga headers */
.container_titletext, .heading, .variableselector_valuesselect_variabletitle > label, .about-table .accordion-body .header-text span {
  @include h3;
}

button.nested-accordion-header, .commandbar_changepresentation_changetext {
  @include h5;
}


.container_titletext {
  margin-top: 0;
}

/* Reset radio and checkbox labels */
label span {
  font-weight: $font-weight-normal;
}

/* TODO: replace spans with labels and legends */
:not(fieldset) label, legend span.font-heading, label.font-heading, span.font-heading {
  @include label;
  display: block;
}

input + label {
  @include list_option;
}

/* -- Bold text -- */

.font-bold {
  @include bold;
}

/* -- Regular text -- */

p, span, a, .steps {
  max-width: $max-text-width;
  display: inline-block;
}

@mixin text {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: $font-weight-normal;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
}

p {
  @include text;  
}

input, select, button {
  @include text;
  @include fontfamily;
}

option {
  @include fontfamily;
  &:first-letter {
    text-transform: capitalize;
  }
}

button, button.accordion-header, button.nested-accordion-header  {
  @include text;

  background-color: #fff;
  color: $text;
}

.siteName {
  @include text;  
}

/* Links */
@mixin textlink {
  color: $link-text;
  cursor: pointer;
  text-decoration: underline;
  outline-color: transparent;
  border-color: transparent;
}

@mixin textlink__hover {
  &:hover, &:focus, &active {
    color: $link__hover-text;
    cursor: pointer;
    text-decoration: underline;
  }
}

a, a > span {
  @include textlink;
  @include textlink__hover;
}

/* Selected text */
::selection, ::-moz-selection, ::-webkit-selection {
  color: $selected-text;
  background-color: $selected-background;
}