@charset "UTF-8";
/*
* Text and typography
*
* Uses Public Sans variable font to allow many weights with a small footprint. The font is locally served.
* https://public-sans.digital.gov/
*
* Fallback to OS fonts. Remove reference to Public Sans to further increase page load.
*/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap");
/*
* Default theme
*/
body {
  background-color: #fff;
}

/*
* Colors
*/
/*-- Base --*/
/*-- Primary --*/
/*-- Secondary --*/
/* Buttons */
/* Inputs */
/* Tables */
/*
* Size related variables
*/
@font-face {
  font-family: "PublicSans";
  src: url("/dev/assets/PublicSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: system;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
html {
  color: #222;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: "PublicSans", "system";
}

/* -- Headers -- */
h1, h2, h3, .variableselector_variable_box_container label, .container_titletext, h4 {
  font-weight: 700;
  max-width: 920px;
  text-transform: capitalize;
  line-height: 1.2;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6875rem;
  line-height: 1.4;
  margin: 2rem 0 1.5rem;
}

h3, .variableselector_variable_box_container label, .container_titletext {
  font-size: 1.3125rem;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.3rem;
}

h5, button.nested-accordion-header, .accordion-body legend {
  font-weight: 700;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-bottom: 1rem;
}

.container_titletext {
  margin-top: 0;
}

.variableselector_variable_box_container label, label, input[type=radio]:checked + label {
  font-weight: 700;
  max-width: 920px;
  text-transform: capitalize;
  line-height: 1.2;
}

label span {
  font-weight: 400;
}

/* -- Regular text -- */
p, span, a, .steps {
  max-width: 720px;
  display: inline-block;
}

p {
  font-family: "PublicSans", "system";
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
}

input, select, option {
  font-family: "PublicSans", "system";
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
}

button, button.accordion-header, button.nested-accordion-header {
  font-family: "PublicSans", "system";
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
  background-color: #fff;
  color: #222;
}

.siteName {
  font-family: "PublicSans", "system";
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
}

/* Links */
a {
  color: #006E91;
  cursor: pointer;
  text-decoration: underline;
}

a:hover, a:focus, a:active {
  color: #001920;
  cursor: pointer;
  text-decoration: none;
}

input[type=radio] + label:hover, input[type=radio]:checked + label {
  color: #001920;
  cursor: pointer;
  text-decoration: none;
}

/* Selected text */
::selection, ::-moz-selection {
  color: #fff;
  background-color: #222;
}

.fullscreen main, .fullscreen #table-title, .fullscreen #ctl00_ctl00_navigationFlowControl, .fullscreen #ctl00_ctl00_breadcrumb1, .fullscreen div[role=main] {
  max-width: calc(100vw - 2rem - 2rem);
  margin: 0;
  padding: 0 2rem;
}

input[value=Fullscreen] {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.7;
}

/*
* Panels used in choose variables
*/
header, #header {
  border-bottom: 1px solid #949494;
  margin-bottom: 1rem;
  padding: 0.75rem;
  background-color: #fff;
  padding-left: 2rem;
}

img.logo, .imgSiteLogo {
  max-height: 50px;
  margin-right: 1rem;
}

img.logo-quality, .officialStatisticsImage {
  max-width: 220px;
  margin-bottom: 0.5rem;
}

.top-link {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.25rem;
  background: #fff;
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

main, div[role=main], #table-title, #ctl00_ctl00_navigationFlowControl, #ctl00_ctl00_breadcrumb1 {
  max-width: 1440px;
  margin: 0 auto;
  margin-right: calc(476px + 2rem);
  padding-left: 2rem;
}

/* About area */
.information_definitionlist button.nested-accordion-header.closed {
  border-top: none;
  padding: 0;
}

.operations-container button:first-of-type {
  border-top-width: 0;
  padding-top: 1.5rem;
  border-top: 1px solid var(--panel-border-color);
}

.operations-container .secondary-btn {
  margin-top: 0;
  margin-left: 0.5rem;
  float: left;
  clear: left;
}

/*
* Accordions
*/
.variableselector_variable_box_container > div, div.accordion {
  background-color: #fff;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

.accordion-panels legend {
  width: 100%;
  padding: 0;
}

.accordion-panels fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

button.accordion-header:hover span, button.nested-accordion-header:hover, button.accordion-header:focus span, button.nested-accordion-header:focus {
  text-decoration: underline;
}

button.accordion-header, button.nested-accordion-header {
  width: 100%;
  border-width: 0;
  border-radius: 0;
  text-align: left;
  padding: 1.5rem 1rem;
  margin: 0;
  border-top: 1px solid #949494;
  font-weight: 700;
}

button.accordion-header.closed, button.nested-accordion-header.closed {
  margin-bottom: 0;
  display: inline-block;
  border-top: 1px solid #949494;
}

button.accordion-header.closed:before {
  content: "▾";
}

button.nested-accordion-header {
  background-color: #fff;
  padding-left: 0.5rem;
  padding-right: 0;
}

button.nested-accordion-header {
  display: none;
  font-weight: 400;
  border-top: none;
  padding: 1.5rem;
}

button.accordion-header:before {
  content: "▴";
  padding-right: 0;
  margin-right: 9px;
}

.pxweb-nested-accordion dl {
  display: flex;
  justify-content: start;
  flex-shrink: 1;
}

.pxweb-nested-accordion dd {
  margin-left: 0.5rem;
}

.accordion-body {
  background-color: transparent;
  width: 100%;
  border-top: 0;
  border-radius: 0;
  text-align: left;
  padding: 0 2rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.accordion-body.closed {
  display: none;
}

.accordion-body div {
  width: 100%;
}

.accordion-body fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/*
* Generic form related styling. Buttons, inputs, select.
*/
input, option, select {
  font-weight: 500;
}

/*
* Buttons
* Basic button is styled as primary button
*/
button, input[type=button], input[type=submit] {
  background-color: #006E91;
  color: #fff;
  border: 2px #006E91 solid;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
button:hover, button:active, button:focus, input[type=button]:hover, input[type=button]:active, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
  color: #fff;
  background-color: #222;
}

button, input[type=submit], input[type=button], input[type=submit].container_continuebutton {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  /* margin-top: sizes.$space-small); */
  margin-bottom: 0.75rem;
  color: #fff;
  background-color: #006E91;
  border: 2px #006E91 solid;
}

button.primary-btn, input[type=button].primary-btn, input[type=submit].primary-btn {
  color: #fff;
  background-color: #006E91;
  border: 2px #006E91 solid;
}

button.secondary-btn, input[type=button].secondary-btn, input[type=submit] {
  background-color: transparent;
  border: 2px #006E91 solid;
  color: #006E91;
  max-height: 2.6rem;
}

input[type=submit].icon-placement {
  background-color: transparent;
  text-decoration: underline;
  padding: 0;
  margin: 0 0.5rem 0.5rem 0;
  border-color: transparent;
  border-radius: 0;
  float: left;
  clear: left;
  font-weight: 700;
}

button:hover, button:focus, input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus {
  background-color: #222;
  color: #fff;
  cursor: pointer;
  border-color: transparent;
}

/*
* Input fields
*/
input {
  padding: 0.5rem;
  margin-bottom: 0;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  outline: 1px solid transparent;
  background-color: #fff;
}
input:hover, input:focus, input:active {
  border: 1px solid #222;
  outline-color: #222;
}

input[type=radio] {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
}

input[type=radio] + label, input[type=checkbox] + label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
  width: calc(100% - 2rem);
  vertical-align: top;
  padding: 0;
  line-height: 140%;
}

fieldset {
  width: 100%;
  padding-top: 1rem;
}

fieldset legend {
  font-weight: bold;
}

/*
* Select boxes
*/
select {
  padding: 0.5rem;
  margin-bottom: 0;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  outline: 1px solid transparent;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 255 255' width='18' height='18' xmlns='http://www.w3.org/2000/svg'><g><polygon points='0,63.75 127.5,191.25 255,63.75' fill='black' /></g></svg>");
  background-position: 97% center;
  background-repeat: no-repeat;
  outline: none;
}
select:hover, select:focus, select:active {
  border: 1px solid #222;
  outline-color: #222;
}

select[multiple] {
  padding: 0.5rem;
  margin-bottom: 0;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  outline: 1px solid transparent;
  background-color: #fff;
  appearance: none;
  padding: 0;
  background-image: none;
  margin-bottom: 1rem;
  border-radius: 4px;
}
select[multiple]:hover, select[multiple]:focus, select[multiple]:active {
  border: 1px solid #222;
  outline-color: #222;
}

select[multiple] option:checked {
  background: #222 linear-gradient(0deg, #222 0%, #222 100%);
  -webkit-text-fill-color: #fff;
  color: #fff;
}

option {
  padding: 0.6rem 0.75rem;
  min-width: 10rem;
  margin-bottom: 0;
}

option:checked {
  background-color: #222;
  color: #fff;
  cursor: pointer;
}

option:hover, option:active, option:focus {
  background-color: #fff;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

/*
* Default table styling
*/
table {
  margin-top: 12px;
  border-spacing: 0px;
  margin-bottom: 36px;
  line-height: 20px;
  overflow: hidden;
}

tbody > tr:nth-child(odd) > td, tbody > tr:nth-child(odd) > th {
  background: #f8f8f8;
}

tbody > tr:nth-child(even) > td, tbody > tr:nth-child(even) > th {
  background: #fff;
}

td, th {
  padding: 10px 9px;
  border-left: 1px solid #222;
  border-top: 1px solid #222;
  border-bottom: none;
  border-right: none;
  vertical-align: text-top;
  text-align: right;
}

table > tbody > tr:last-child > td, table > tbody > tr:last-child > th {
  border-bottom: 2px solid #222;
}

thead > tr:first-child > td, thead > tr:first-child > th {
  border-top: 2px solid #222;
}

thead > tr:last-child > td, thead > tr:last-child > th, thead > tr:first-child td[rowspan] {
  border-bottom: 1px solid #222;
}

tbody tr th:first-child, tbody tr td:first-child, thead tr td:first-child {
  text-align: left;
  border-left: 1px solid #eee;
}

thead th {
  border-left: 1px solid #222;
}

table tr th:last-child, table tr td:last-child {
  border-right: 1px solid #eee;
}

thead th, thead td {
  font-weight: bold;
  text-align: left;
  background-color: #fff;
}

/*
* Stepper, the three steps of PX Web
*/
.navigationFlowArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  margin: 2rem 0;
  margin-left: 2rem;
}

.navigationFlowArea a img {
  display: none;
}

/* Adjust text position of stepp */
.navigationFlowArea a.first span {
  margin-left: -2rem;
}

.navigationFlowArea a.second span {
  margin-left: -2.5rem;
}

.navigationFlowArea a.third span {
  margin-left: -2rem;
}

.navigationFlowArea a {
  display: inline-block;
  padding: 0;
  line-height: 100%;
  text-decoration: none;
}

.navigationFlowArea a span {
  position: absolute;
  margin-top: 1rem;
}

.navigationFlowArea a::before {
  color: #fff;
  font-size: 2rem;
  display: block;
}

.navigationFlowArea a.active::before {
  content: "◉";
  color: #222;
}

.navigationFlowArea a.future::before {
  content: "○";
  color: #949494;
}

.navigationFlowArea a.passive::before {
  content: "○";
  color: #222;
}

.navigationFlowArea a.passive span, .navigationFlowArea a.active span {
  text-decoration: underline;
}

.navigationFlowArea a.future span {
  color: #949494;
}

.navigationFlowArea a.active {
  color: #222;
  text-decoration: none;
}

hr {
  flex-grow: 2;
  border: none;
  border-top: 2px solid #949494;
  margin-top: 0.5rem;
}

hr.future {
  border: none;
  border-color: #949494;
  border-top-style: dashed;
}

.presentation-left {
  position: fixed;
  overflow: auto;
  height: 100vh;
  width: 476px;
  top: 0;
  right: 0;
  background-color: #f8f8f8;
  padding: 0;
  box-shadow: 3px 0 8px rgba(25, 25, 25, 0.4);
  border-left: 1px solid #ddd;
}

.presentation-left button.accordion-header, .presentation-left button.nested-accordion-header.closed, .presentation-left .closed .accordion-body {
  background-color: #f8f8f8;
}

nav a {
  font-weight: 500;
  padding: 0.25rem 0.25rem 0.05rem;
  line-height: 100%;
}

.commandbar-shortcuts {
  /* margin-top: 0.5rem; */
  margin-bottom: 2rem;
}

.commandbar_container {
  /* border-top: 1px solid var(--panel-border-color); */
  padding: 0 2rem;
  width: 100%;
}

.commandbar_container .variableselector_variable_box_container > div {
  padding: 0;
}

.container_exit_buttons_row {
  margin-top: 1rem;
  /* padding: 1rem 0; */
  /* border-top: 1px solid #ccc; */
}

/* Change variable specific */
.view-state {
  float: right;
  margin-top: -3rem;
  margin-bottom: 1rem;
}

.seperator {
  margin: 0 0.5rem;
  color: #949494;
}

.view-state span {
  font-weight: 700;
}

/* Very specific styling */
.obs-notes {
  margin-bottom: 2rem;
}

/* Choose variables trigger */
.justify-center {
  display: flex;
  justify-content: center;
}

/* Media queries */
@media (min-width: 1140px) {
  .burger_menu-icon {
    display: none;
  }
}
@media (max-width: 1140px) {
  main, div[role=main], #table-title, #ctl00_ctl00_navigationFlowControl, #ctl00_ctl00_breadcrumb1 {
    max-width: 90vw;
    margin: 0 calc(320px + 2rem) 0 auto;
    padding-left: 2rem;
  }

  .flex-row {
    display: flex;
    flex-direction: column;
  }

  .presentation-left {
    width: 320px;
  }
}
@media (max-width: 768px) {
  main, div[role=main], #table-title, #ctl00_ctl00_navigationFlowControl, #ctl00_ctl00_breadcrumb1 {
    max-width: calc(100vw - 2rem);
    padding: 0.5rem;
  }

  .view-state {
    float: none;
    margin-top: 0;
  }
}
header::before {
  content: "Optimized CSS v.0.2";
}
