/*
* Default theme
*/
body {
  background-color: #fff;
}

/*
* Colors
*/
/*-- Base --*/
/*-- Primary --*/
/*-- Secondary --*/
/* Buttons */
/* Tables */
/*
* Size related variables
*/
/*
* Text and typography
*
* Uses Public Sans variable font to allow many weights with a small footprint. The font is locally served.
* https://public-sans.digital.gov/
*
* Fallback to OS fonts. Remove reference to Public Sans to further increase page load.
*/
@font-face {
  font-family: "PublicSans";
  src: url("/dev/assets/PublicSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: system;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
html {
  color: #222;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: "PublicSans", "system";
}

/* -- Headers -- */
h1, h2, h3, .variableselector_variable_box_container label, .container_titletext, h4 {
  font-weight: 700;
  max-width: 920px;
  text-transform: capitalize;
  line-height: 1.2;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6875rem;
  line-height: 1.4;
  margin: 2rem 0 1.5rem;
}

h3, .variableselector_variable_box_container label, .container_titletext {
  font-size: 1.3125rem;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.3rem;
}

h5, button.nested-accordion-header, .accordion-body legend {
  font-weight: 700;
  width: 100%;
  text-align: left;
  padding: 0;
  margin-bottom: 1rem;
}

.container_titletext {
  margin-top: 0;
}

.variableselector_variable_box_container label, label, input[type=radio]:checked + label {
  font-weight: 700;
  max-width: 920px;
  text-transform: capitalize;
  line-height: 1.2;
}

label span {
  font-weight: 400;
}

/* -- Regular text -- */
p {
  font-family: "PublicSans", "system";
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
}

input, select, option {
  font-family: "PublicSans", "system";
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
}

button, button.accordion-header, button.nested-accordion-header {
  font-family: "PublicSans", "system";
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
  background-color: #fff;
  color: #222;
}

.siteName {
  font-family: "PublicSans", "system";
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
}

.fullscreen main, .fullscreen div[role=main] {
  max-width: calc(100vw - 2rem - 2rem);
  margin: 0;
  padding: 0 2rem;
}

/*
* Panels used in choose variables
*/
header, #header {
  border-bottom: 1px solid #949494;
  margin-bottom: 1rem;
  padding: 0.75rem;
  background-color: #fff;
  padding-left: 2rem;
}

img.logo, .imgSiteLogo {
  max-height: 50px;
  margin-right: 1rem;
}

img.logo-quality, .officialStatisticsImage {
  max-width: 220px;
  margin-bottom: 0.5rem;
}

.top-link {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.25rem;
  background: #fff;
  display: flex;
}

main, div[role=main] {
  max-width: 1440px;
  margin: 0 auto;
  margin-right: calc(476px + 2rem);
  padding-left: 2rem;
}

/*
* Accordions
*/
.accordion-panels legend {
  width: 100%;
  padding: 0;
}

.accordion-panels fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

button.accordion-header:hover span, button.nested-accordion-header:hover, button.accordion-header:focus span, button.nested-accordion-header:focus {
  text-decoration: underline;
}

button.accordion-header, button.nested-accordion-header {
  width: 100%;
  border-width: 0;
  border-radius: 0;
  text-align: left;
  padding: 1.5rem 1rem;
  margin: 0;
  border-top: 1px solid #949494;
  font-weight: 700;
}

button.accordion-header.closed, button.nested-accordion-header.closed {
  margin-bottom: 0;
  /* font-weight: 400; */
  display: inline-block;
  border-top: 1px solid #949494;
}

/*
* Generic form related styling. Buttons, inputs, select.
*/
/*
* Buttons
* Basic button is styled as primary button
*/
button, input[type=button], input[type=submit] {
  background-color: #006E91;
  color: #fff;
  border: 2px #006E91 solid;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
button:hover, button:active, button:focus, input[type=button]:hover, input[type=button]:active, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
  color: #fff;
  background-color: #222;
}

/*
* Input fields
*/
/*
* Select boxs
*/
/*
* Default table styling
*/
table {
  margin-top: 12px;
  border-spacing: 0px;
  margin-bottom: 36px;
  line-height: 20px;
  overflow: hidden;
}

tbody > tr:nth-child(odd) > td, tbody > tr:nth-child(odd) > th {
  background: #f8f8f8;
}

tbody > tr:nth-child(even) > td, tbody > tr:nth-child(even) > th {
  background: #fff;
}

td, th {
  padding: 10px 9px;
  border-left: 1px solid #222;
  border-top: 1px solid #222;
  border-bottom: none;
  border-right: none;
  vertical-align: text-top;
  text-align: right;
}

table > tbody > tr:last-child > td, table > tbody > tr:last-child > th {
  border-bottom: 2px solid #222;
}

thead > tr:first-child > td, thead > tr:first-child > th {
  border-top: 2px solid #222;
}

thead > tr:last-child > td, thead > tr:last-child > th, thead > tr:first-child td[rowspan] {
  border-bottom: 1px solid #222;
}

tbody tr th:first-child, tbody tr td:first-child, thead tr td:first-child {
  text-align: left;
  border-left: 1px solid #eee;
}

thead th {
  border-left: 1px solid #222;
}

table tr th:last-child, table tr td:last-child {
  border-right: 1px solid #eee;
}

thead th, thead td {
  font-weight: bold;
  text-align: left;
  background-color: #fff;
}

header::before {
  content: "Optimized CSS v.0.1";
}
