.ssb-references {
  display: inline-flex;
  flex-direction: column;

  .reference-header {

    color: $pxweb-dark-6;
    font-weight: bold;
    font-size: $font-size-normal;
    line-height: 1.25;
  }
}
