#{$selector_prefix}-text-wrapper {

    color: $pxweb-dark-6;
    font-size: $font-size-normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.7;
    max-width: $max-readable-width;

    &.small-text {
        font-size: $font-size-small;
        line-height: 24px;
    }

    &.negative {
        color: $pxweb-white;
    }
}
