@use '../base/_sizes.scss';

/* Result page specific styling
    Contains quite a few hacks and dirty styling. Blame the HTML.
*/

/* Command bar */

.$space-extra-small {
  padding: 2rem 2rem 1rem;
  border: 1px solid #dedddd;
  background-color: #f5f7f8;
}

.$space-extra-small .variableselector_variable_box_container > div {
  padding: 0;
}

.commandbar-listbox-container {
  margin-top: sizes.$space-medium;
}
  
.commandbar_saveas_dropdownlist {
  width: 90%;
}

input.savequery_url {
    min-width: 36rem;
}

/* Reset edit and calculate dialogs */
.settingpanel, .commandbar_container {
    .flex-row, .flex-column {
        display: block;
        margin-bottom: sizes.$space-medium;
    }
    span.font-heading {
        width: 100%;
    }

    /* Hide trash HTML */
    br {
        display: none;
    }
}

  .commandbar_deletevariable_nametext {
    display: flex;
  }

  .delete_variable_rootdiv span.font-normal-text {
    padding: sizes.$space-medium 0;

    input {
      float: left;
      margin: sizes.$space-tiny sizes.$space-extra-small;
    }
    label {
      float: right;
      font-size: 1rem;
      margin: 0;
      padding: 0;
      text-transform: none;
      
      @include typography.textlink__hover;

      &:hover {
        cursor: pointer;
      }
    }
  }