@use '../layout/_panel.scss'; 

/* About area */

.information_definitionlist button.nested-accordion-header.closed {
    border-top: none;
    padding: 0;
}

.operations-container button:first-of-type {
    border-top-width: 0;
    padding-top: 1.5rem;
    border-top: 1px solid var(--panel-border-color);
}
  
.operations-container .secondary-btn {
    margin-top: 0;
    margin-left: 0.5rem;
    float: left;
    clear: left;
}
  