@use '../layout/_panel.scss'; 
@use '../base/sizes';
@use '../base/typography';

/* About area */
.about-table {
    min-width: 100%;
}

.about-table .accordion-body button.accordion-header, .about-table  .accordion-body button.nested-accordion-header {
    // padding: 0;
    // border-top-width: 0;
  
    padding: 0.75rem 0 0;
    font-weight: 700;
    margin-bottom: 0;
  
    &:hover, &:focus {
      > .header-text > span, > .header-text  {
        text-decoration: none;
      }
    }
  }
  
  .about-table .accordion-body button {
    cursor: unset;
  }

.information_definitionlist {
    button.nested-accordion-header {
        background-color: transparent;
        margin-bottom: 0;
    
        &:hover .header-text, &:focus .header-text {
            text-decoration: none;
            cursor: default;
        }
    }

    columns: 320px 3;
    column-gap: sizes.$space-medium;
} 

.about-table .accordion-body {

    .header-text {
        border-bottom: 1px solid #222;
        span {
            font-weight: 600;
            font-size: 1rem;
        }
    }

    dl {
        margin: 0;
    }
}

.information_definitionlist .nested-accordion-body {
    margin-bottom: sizes.$space-large;
}

.information_definitionlist button.nested-accordion-header.closed {
    border-top: none;
    padding: 0;
}

.operations-container button:first-of-type {
    border-top-width: 0;
    padding-top: 1.5rem;
    border-top: 1px solid var(--panel-border-color);
}
  
.operations-container .secondary-btn {
    margin-top: 0;
    margin-left: 0.5rem;
    float: left;
    clear: left;
}
  
.about-table dt {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 600;
}
.about-table dd {
    margin-left: 0;
    margin-bottom: sizes.$space-small;
}

.pxweb-accordion.about-table {
    margin-bottom: 2rem;
}

.mobilemenu .pxweb-accordion.about-table {
    margin-bottom: 0;
}