@use '../layout/_panel.scss'; 
@use '../base/sizes';

/* About area */
.about-table {
    min-width: 100%;
}
.information_definitionlist button.nested-accordion-header {
    background-color: transparent;
    margin-bottom: 0;

    &:hover span, &:focus span {
        text-decoration: none;
        cursor: unset;
    }
}

.information_definitionlist .nested-accordion-body {
    margin-bottom: sizes.$space-large;
}

.information_definitionlist button.nested-accordion-header.closed {
    border-top: none;
    padding: 0;
}

.operations-container button:first-of-type {
    border-top-width: 0;
    padding-top: 1.5rem;
    border-top: 1px solid var(--panel-border-color);
}
  
.operations-container .secondary-btn {
    margin-top: 0;
    margin-left: 0.5rem;
    float: left;
    clear: left;
}
  