@use '../layout/panel'; 
@use '../base/breakpoints';
@use '../base/sizes';
@use '../base/colors';
@use '../base/typography';
@use '../modules/forms';

/*
* Accordions
*/
.variableselector_variable_box_container > div, div.accordion {
  @include panel.panel;    
}

.accordion-panels legend {
  width: 100%;
  padding: 0;
}
.accordion-panels fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

button.accordion-header, button.nested-accordion-header  {
  width: 100%;
  border-width: 0;
  border-radius: 0;
  text-align: left;
  padding: 1.5rem 1rem 1.5rem 0;
  border-top: 1px solid colors.$panel-border-color;
  font-weight: 700;
  outline-color: transparent;

  &:hover, &:focus {
    > .header-text > span, > .header-text  {
      text-decoration: underline;
    }
  }

  &:active {
    color: typography.$text;
  }
}

.about-table .accordion-body button.accordion-header, .about-table  .accordion-body button.nested-accordion-header {
  // padding: 0;
  // border-top-width: 0;

  padding: 1.5rem 0 0;
  border-top: 1px solid #949494;
  font-weight: 700;
  margin-bottom: 1.75rem;


  &:hover, &:focus {
    > .header-text > span, > .header-text  {
      text-decoration: none;
    }
  }
}

.about-table .accordion-body button {
  cursor: unset;
}

button.accordion-header.closed, button.nested-accordion-header.closed {
  display: inline-block;
  border-top: 1px solid colors.$panel-border-color;
}

button.accordion-header.closed:before {
  content: '▾';
}

button.nested-accordion-header {
  background-color: colors.$panel-background;

  // DESIGN CHANGES
  //padding-left: 0.5rem;
  //padding-right: 0;
}

button.accordion-header:before {
  content: '▴';
  padding-right: 0;
  margin-right: sizes.$space-small;
  max-width: sizes.$space-medium;

  // DESIGN CHANGES
  font-size: 1.125rem;
  line-height: 1;

}

.pxweb-nested-accordion dl {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.accordion-body {
  background-color: transparent;
  border-top: 0;
  border-radius: 0;
  text-align: left;

  // padding: 0 sizes.$space-large;
  // margin-bottom: 2.5rem;
  margin-bottom: sizes.$space-extra-large;
  margin-top: sizes.$space-small;

  width: auto;

  @media (max-width: 660px) {
    padding: 0 sizes.$space-medium;
  }
}

.accordion-body.closed {
  display: none;
}

.accordion-body div {
  width: 100%;
}

.accordion-body fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Accordions in main area */
.presentation-main .accordion-body, #placeholder .accordion-body {
  padding: 0;
}

.presentation-main button.accordion-header, button.nested-accordion-header, #SelectionPage button.accordion-header {
  padding-left: 0;
}

.pxweb-accordion {
  max-width: typography.$max-text-width;
}