@use '../layout/_panel.scss'; 
@use '../base/_sizes.scss';
@use '../base/_colors.scss';
@use '../base/_typography.scss';
@use '../modules/forms';

/*
* Accordions
*/
.variableselector_variable_box_container > div, div.accordion {
  @include panel.panel;    
}

.accordion-panels legend {
  width: 100%;
  padding: 0;
}
.accordion-panels fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

button.accordion-header, button.nested-accordion-header  {
  width: 100%;
  border-width: 0;
  border-radius: 0;
  text-align: left;
  padding: 1.5rem 1rem;
  margin: 0;
  border-top: 1px solid panel.$panel-border-color;
  font-weight: 700;
  outline-color: transparent;

  &:hover, &:focus {
    text-decoration: underline;
    color: typography.$link__hover-text;
  }

  &:active {
    color: typography.$link__hover-text;
  }
}

button.accordion-header.closed, button.nested-accordion-header.closed {
  margin-bottom: 0;
  display: inline-block;
  border-top: 1px solid panel.$panel-border-color;
}

button.accordion-header.closed:before {
  content: '▾';
}

button.nested-accordion-header {
  background-color: panel.$panel-background;
  padding-left: 0.5rem;
  padding-right: 0;
}

button.nested-accordion-header {
  display: none;
  font-weight: 400;
  border-top: none;
  padding: 1.5rem;
}

button.accordion-header:before {
  content: '▴';
  padding-right: 0;
  margin-right: 9px;
}

.pxweb-nested-accordion dl {
  display: flex;
  justify-content: start;
  flex-shrink: 1;
}

.pxweb-nested-accordion dd {
  margin-left: sizes.$space-smallest;
}

.accordion-body {
  background-color: transparent;
  width: 100%;
  border-top: 0;
  border-radius: 0;
  text-align: left;
  padding: 0 2rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.accordion-body.closed {
  display: none;
}

.accordion-body div {
  width: 100%;
}

.accordion-body fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


