/* Handle the dialogs we still have */

@use '../base/sizes';
@use '../base/typography';
@use '../base/colors';
@use '../layout/panel';

.ui-dialog-title {
    @include typography.h3;
}

.table_cellinformation_cell, .table_cellinformation_notes {
    @include typography.h4;
}

.ui-dialog {
    border:1px solid colors.$panel-border-color;
    background-color: colors.$panel-background;
    padding: panel.$panel-padding;
    box-shadow: 3px 0 8px rgba(25, 25, 25, 0.4);
}

.ui-draggable .ui-dialog-title {
    cursor: move;
}

.ui-dialog-titlebar-close {
    float: right;
}

.ui-dialog-buttonpane {
    display: none;
}