/* Handle the dialogs we still have */

@use '../base/sizes';
@use '../base/typography';
@use '../base/colors';
@use '../layout/panel';

.ui-dialog-title {
    @include typography.h3;
}

.table_cellinformation_cell, .table_cellinformation_notes {
    @include typography.h4;
}

.ui-dialog {
    border:1px solid colors.$panel-border-color;
    background-color: colors.$dialog-background;
    box-shadow: 3px 0 8px rgba(25, 25, 25, 0.4);
    z-index: 100;
}

.ui-dialog-titlebar {
    padding: sizes.$space-medium sizes.$space-extra-small  sizes.$space-medium sizes.$space-medium ;
    border-bottom: 1px solid colors.$panel-border-color;
}

.ui-dialog-content {
    padding: panel.$panel-padding;
    overflow-y: scroll;
}

.ui-draggable .ui-draggable-handle {
    cursor: move;
}

.ui-dialog-titlebar-close {
    float: right;
}

.ui-dialog-buttonpane {
    display: none;
}
