@use '../base/sizes';
@use '../base/colors';

/* Errors and messages */

.px-messages {
    padding: sizes.$space-medium;
    font-weight: 700;
    margin-bottom: sizes.$space-medium;
    background-color: colors.$message-background-default;
}