@use '../base/sizes';
@use '../base/colors';

/* Errors and messages */

.px-messages, .variableselector_error_summary {
    padding: sizes.$space-medium;
    font-weight: 700;
    margin-bottom: sizes.$space-medium;
    background-color: colors.$message-background-default;
    width: 100%;
}

.variableselector_error_summary li {
    text-transform: capitalize;
    font-weight: 300;
}

.pxweb-input-error {
    padding: sizes.$space-small sizes.$space-medium;
    background-color: rgb(255, 216, 216);
    border-radius: sizes.$space-small;
}

select.variableselector_valuesselect_box_error {
    border-color: colors.$color-warning;
    outline-color: colors.$color-warning;
}