@use "../base/sizes";
@use "../base/colors";
/*
* Generic form related styling. Buttons, inputs, select.
*/


/*
* Buttons
* Basic button is styled as primary button
*/
button, input[type="button"], input[type="submit"] {
  background-color: colors.$button-primary-background;
  color: colors.$button-primary-text;
  border: 2px colors.$button-primary-background solid;
  padding: sizes.$space-smallest sizes.$space-small;
  border-radius: 0.25rem;

  &:hover, &:active, &:focus {
    color: colors.$button__hover-text;
    background-color: colors.$button__hover-background;
  }
}

/*
* Input fields
*/
input {
  &:hover, &:active, &:focus {
  }
}

/*
* Select boxs
*/
