@use "../base/sizes";
@use "../base/colors";
@use "../base/typography";
/*
* Generic form related styling. Buttons, inputs, select.
*/

@mixin field {
  padding: sizes.$space-extra-small;
  margin-bottom: 0;
  margin-right: sizes.$space-extra-small;
  border: 1px solid colors.$input-border-color;
  outline: 1px solid transparent;
  background-color: colors.$input-background;
  border-radius: 4px;

  &:hover, &:focus, &:active {
    border: 1px solid colors.$input-border-color__hover;
    outline: 1px solid colors.$input-border-color__hover;
  }
}

/*
* Buttons
* Basic button is styled as primary button
*/
button, input[type="button"], input[type="submit"] {
  background-color: colors.$button-primary-background;
  color: colors.$button-primary-text;
  border: 2px colors.$button-primary-background solid;
  padding: sizes.$space-extra-small sizes.$space-small;
  border-radius: 0.25rem;

  &:hover, &:active, &:focus {
    color: colors.$button__hover-text;
    border-width: 2px;
    background-color: colors.$button__hover-background;
    opacity: 1;
  }
}

button:disabled, input:disabled,  input[type="submit"]:disabled, input[type="submit"].primary-btn:disabled {
  border-color: colors.$button__disabled;
  background-color: colors.$button-background__disabled;
  color: colors.$button__disabled;

  &:hover, &:focus, &:active {
    cursor:not-allowed;
    border-color: colors.$button__disabled;
    background: colors.$color-light;
    color: colors.$button__disabled;
    outline-color: transparent;
  }
}

@mixin button {
  padding: sizes.$space-extra-small sizes.$space-small;
  border-radius: 0.25rem;
  margin-right: sizes.$space-extra-small;
  margin-bottom: 0.75rem;
  max-height: 2.6rem;
  cursor: pointer;
  color: colors.$button-primary-text;
  background-color: colors.$button-primary-background;
  border: 2px colors.$button-primary-background solid;
  outline: 1px transparent;
}


@mixin button__hover {
  &:focus, &:hover {
    background-color: colors.$button__hover-background;
    color: colors.$button__hover-text;
    cursor: pointer;
    border: 2px solid colors.$button__hover-background;
    outline: 1px solid colors.$button__hover-background;
  }
}

button, input[type=submit], input[type="button"], input[type="submit"].container_continuebutton {
  @include button;
}

@mixin primary-btn {
  color: colors.$button-primary-text;
  background-color: colors.$button-primary-background;
  border-color: colors.$button-primary-background;
  @include button__hover;
}

button.primary-btn, input[type="button"].primary-btn, input[type="submit"].primary-btn, #OperationsPanel input[type="submit"].primary-btn {
  @include primary-btn;
  @include button__hover;
}

@mixin secondary-btn {
  background-color: transparent;
  border-color:colors.$button-primary-background;
  color: colors.$button-secondary-text;
  @include button__hover;
}

button.secondary, input[type="button"].secondary-btn, input[type="submit"] {
  @include secondary-btn;
}


@mixin tertiar-btn {
  background-color: transparent;
  border-color: transparent;
  color: colors.$button-secondary-text;
  align-self: flex-start;
  @include button__hover;
}

/* Contains hack for "$font-weight- manual" style */
button.tertiar-btn, input.tertiar-btn {
  @include tertiar-btn;
}

input.pivotManual {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z'/%3E%3C/svg%3E");
}
input.pivotCCW {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7.11 8.53L5.7 7.11C4.8 8.27 4.24 9.61 4.07 11h2.02c.14-.87.49-1.72 1.02-2.47zM6.09 13H4.07c.17 1.39.72 2.73 1.62 3.89l1.41-1.42c-.52-.75-.87-1.59-1.01-2.47zm1.01 5.32c1.16.9 2.51 1.44 3.9 1.61V17.9c-.87-.15-1.71-.49-2.46-1.03L7.1 18.32zM13 4.07V1L8.45 5.55 13 10V6.09c2.84.48 5 2.94 5 5.91s-2.16 5.43-5 5.91v2.02c3.95-.49 7-3.85 7-7.93s-3.05-7.44-7-7.93z'/%3E%3C/svg%3E");
}

$icon-color: #0000ff;

input.pivotCW {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='#{$icon-color}' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15.55 5.55L11 1v3.07C7.06 4.56 4 7.92 4 12s3.05 7.44 7 7.93v-2.02c-2.84-.48-5-2.94-5-5.91s2.16-5.43 5-5.91V10l4.55-4.45zM19.93 11c-.17-1.39-.72-2.73-1.62-3.89l-1.42 1.42c.54.75.88 1.6 1.02 2.47h2.02zM13 17.9v2.02c1.39-.17 2.74-.71 3.9-1.61l-1.44-1.44c-.75.54-1.59.89-2.46 1.03zm3.89-2.42l1.42 1.41c.9-1.16 1.45-2.5 1.62-3.89h-2.02c-.14.87-.48 1.72-1.02 2.48z'/%3E%3C/svg%3E");
}

input.icon-placement {
  background-repeat: no-repeat;
  padding-left: sizes.$space-extra-large;
  background-size: sizes.$space-large;
  background-position: sizes.$space-tiny center;

}

/*
* Input fields
*/
input {
  @include field;
}

select {
  min-width: 16rem;
}

input[type="text"] {
  min-width: 10rem;

  &:read-only {
    border-style: dashed;
    border-width: 2px;
  }
}

input[type="number"] {
  min-width: 6rem;
}

input[type="radio"], input[type="checkbox"], input[type="radio"]:checked, input[type="checkbox"]:checked {
  margin-bottom: sizes.$space-small;
  margin-right: sizes.$space-extra-small;
  display: inline-block;
  border: none !important;
  outline: none !important;
  border-radius: 0;

  &:hover, &:focus, &:active {
    color: typography.$link__hover-text;
    border: none !important;
    outline: none !important;
  }
}

input[type="radio"] + label, input[type="radio"]:checked + label, input[type="checkbox"] + label, , input[type="checkbox"]:checked + label {
  @include typography.textlink__hover;
  font-weight: typography.$font-weight-normal;
  border-width: 0;
  outline-color: transparent;
}

input[type="radio"]:checked + label, input[type="checkbox"] + label {
  font-weight: typography.$font-weight-medium;
  color: #000;
}

input[type="radio"] + label, input[type="checkbox"] + label {
  margin-bottom: sizes.$space-extra-small;
  margin-right: sizes.$space-medium;
  // width: calc(100% - 4rem);
  vertical-align: top;
  padding: 0;
  line-height: 140%;

  @include typography.textlink__hover;
}

input:disabled {
  background-color: colors.$input__disabled-background;
  color: colors.$input__disabled-text;

  + label {
    color: colors.$input__disabled-text; 

    &:hover {
      color: colors.$input__disabled-text; 
      text-decoration: none;
      cursor: not-allowed;
    }
  }
}

fieldset {
  padding: 1rem 0;
  border: none;

  input[type="radio"]+label, input[type="checkbox"]+label {
    display: inline-block;
    color: #333;
    font-weight: 300;
  }

  legend {
    @include typography.bold;
    margin-top: sizes.$space-medium;
  }
}

.pxweb-accordion > fieldset > legend {
  margin-top: 0;
}

input[type="radio"]:hover + label, input[type="checkbox"]:hover + label, input[type="radio"]:focus + label, input[type="checkbox"]:focus + label, input[type="radio"]:active + label, input[type="checkbox"]:active + label {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

/*
* Select boxes
*/

select {
  @include field;
  -webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
  background-position: 97% center;
	background-repeat: no-repeat;
	outline: none;
}

select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 255 255' width='18' height='18' xmlns='http://www.w3.org/2000/svg'><g><polygon points='0,63.75 127.5,191.25 255,63.75' fill='black' /></g></svg>");
}

select[multiple] {
  @include field;
  appearance: none;
  padding: 0;
  background-image: none;
  margin-bottom: sizes.$space-small;
  border-radius: 4px;
  height: 12rem;
}

select[multiple] option:checked {
  background: typography.$selected-background linear-gradient(0deg, #{typography.$selected-background} 0%, #{typography.$selected-background} 100%);
  -webkit-text-fill-color: typography.$selected-text;
  color: typography.$selected-text;
}

select:disabled {
  background-image: none;
  background-color: transparent;
}

option {
  padding: 0.6rem 0.75rem;
  min-width: 10rem;
  margin-bottom: 0;
}

option:checked {
  background-color: typography.$selected-background;
  color: typography.$selected-text;
  cursor: pointer;
}

option:hover, option:active, option:focus {
  background-color: typography.$link__hover-background;
  color: typography.$text-dark;
  text-decoration: underline;
  cursor: pointer;
}
