@use '../base/_typography.scss';
@use '../base/_sizes.scss';
/*
* Navigation related styling. Breadcrumbs, tree.
*/

nav#breadcrumb a:first-of-type {
    /*text-decoration: none;
    padding: 0;*/
    font-size: 1.25rem;
    line-height: 1;

    &::before {
        content: '⌂';
    }
}

nav a {
    /* font-weight: typography.$font-weight-medium;
    padding: 0.25rem 0.25rem 0.05rem;
    line-height: 150%;
    vertical-align: top;
    display: inline;*/
    vertical-align: sub;
}

nav .breadcrumb_sep {
    /*vertical-align: -webkit-baseline-middle;
    vertical-align: sub;*/
    vertical-align: bottom;
    padding: 0 sizes.$space-tiny;
}

nav a span {
    vertical-align: bottom;
}

.breadcrumb_text_nolink {
    text-decoration: none;
    color: #222;
    font-weight: typography.$font-weight-normal;
    display: inline;
}

