@use '../base/_typography.scss';
/*
* Navigation related styling. Breadcrumbs, tree.
*/

nav#breadcrumb a:first-of-type {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 100%;
    padding: 0;

    &::before {
        content: '⌂';
    }

}

nav a {
    font-weight: typography.$text-weight-medium;
    padding: 0.25rem 0.25rem 0.05rem;
    line-height: 150%;
    vertical-align: top;
}

nav .breadcrumb_sep {
    vertical-align: -webkit-baseline-middle;
    vertical-align: sub;
}

nav a span {
    vertical-align: bottom;
}

.breadcrumb_text_nolink {
    text-decoration: none;
}

