@use '../base/_sizes.scss';
@use '../base/colors';

/* Result page specific styling */

/* Command bar */

.commandbar_container {
  padding: sizes.$space-large sizes.$space-large sizes.$space-medium;
  border: 1px solid colors.$dialog-border;
  background-color: colors.$dialog-background;
}

.commandbar_container .variableselector_variable_box_container > div {
  padding: 0;
}

/* Used for remove variable in tools menu */
.delete_variable_rootdiv .commandbar_container .variableselector_variable_box_container .commandbar-listbox-container {
  background-color: transparent;
}

.commandbar-listbox-container {
  margin-top: sizes.$space-medium;
}
  
.commandbar_saveas_dropdownlist {
  width: 90%;
}