@use '../base/_sizes.scss';

/* Result page specific styling */

/* Command bar */

.commandbar_container {
  padding: 2rem 2rem 1rem;
  border: 1px solid #dedddd;
  background-color: #f5f7f8;
}

.commandbar_container .variableselector_variable_box_container > div {
  padding: 0;
}

.commandbar-listbox-container {
  margin-top: sizes.$space-medium;
}
  
.commandbar_saveas_dropdownlist {
  width: 90%;
}