@use '../base/typography';
@use '../layout/panel';
/*
* Stepper, the three steps of PX Web
*/

$stepper-1-adjust: -2rem;
$stepper-2-adjust: -2.5rem;
$stepper-3-adjust: -2rem;
$stepper-left-space: 2rem;

.navigationFlowArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    margin: 2rem 0;
    margin-left: $stepper-left-space;
  }
  
.navigationFlowArea a img {
    display: none;
  }
  
  /* Adjust text position of stepp */
.navigationFlowArea a.first span {
    margin-left: $stepper-1-adjust;
  }
  
.navigationFlowArea a.second span {
    margin-left: $stepper-2-adjust;
  }
  
.navigationFlowArea a.third span {
    margin-left: $stepper-3-adjust;
  }
  
.navigationFlowArea a {
    display: inline-block;
    padding: 0;
    line-height: 100%;
    text-decoration: none;
  }
  
.navigationFlowArea a span {
    position: absolute;
    margin-top: 1rem;
  }
  
.navigationFlowArea a::before {
    color: typography.$text-inverted;
    font-size: 2rem;
    display: block;
  }
  
.navigationFlowArea a.active::before, .navigationFlowArea a > span.third.active::before {
    content: '◉';
    color: typography.$text;
  }
  
.navigationFlowArea a.future::before, .navigationFlowArea a > span.third::before {
    content: '○';
    color: typography.$text-inactive;
  }
  
.navigationFlowArea a.passive::before {
    content: '○';
    color: typography.$text;
  }
  
.navigationFlowArea a.passive span, .navigationFlowArea a.active span {
    text-decoration: underline;
  }
  
.navigationFlowArea a.future span {
    color: typography.$text-inactive;
  }
  
.navigationFlowArea a.active {
    color: typography.$text;
    text-decoration: none;
  }
  
  hr {
    flex-grow: 2;
    border: none;
    border-top: 2px solid panel.$panel-border-color;
    margin-top: 0.5rem;
  }
  
  hr.future {
    border: none;
    border-color: typography.$text-inactive;
    border-top-style: dashed;
  }
  