@use "../base/colors";
@use "../base/sizes";
@use "../base/typography";
@use "../base/breakpoints";
/*
* Default table styling
*/

table {
  margin-top: 12px;
  border-spacing: 0px;
  margin-bottom: 36px;
  line-height: 20px;
  overflow: hidden;
}

thead, thead:fullscreen {
  position: sticky;
  top: 0;
  box-shadow: 0 0 sizes.$space-tiny rgba(0,0,0,0.4);
  z-index: 10;
}

tbody > tr:nth-child(odd) > td, tbody > tr:nth-child(odd) > th {
  background: colors.$table-background-odd;
}

tbody > tr:nth-child(even) > td, tbody > tr:nth-child(even) > th {
  background: colors.$table-background-even;
}

tbody > tr:hover, tbody > tr:nth-child(2n+1):hover, tbody > tr:nth-child(2n):hover > td {
  > th, > td {
      border-top-color: colors.$color-darkest;
      border-bottom-color: colors.$color-darkest;
      background-color: #ddd;
      color: colors.$color-darkest;
  }
}

td, th {
  padding: 0.75rem 0.5rem;
  border-left: 1px solid colors.$table-border-color;
  border-top: 1px solid colors.$table-border-color;
  border-bottom: none;
  border-right: none;
  vertical-align: text-top;
  text-align: right;
  color: colors.$table-text;
}

td {
  white-space: nowrap;
}

tbody td {
  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}

table {
  border-bottom: 2px solid colors.$table-border-color;
}

thead > tr:first-child > td, thead > tr:first-child > th {
  border-top: 2px solid colors.$table-border-color;
}

thead > tr:first-child > td {
  /* border-left: 1px solid colors.$table-border-outline-color;*/
  border-left: 1px solid colors.$table-border-color;
  border-right: 1px solid colors.$table-border-color;
  position: sticky;
  left: 0;
  z-index: 5;
}

tbody tr th:last-child {
  border-left: 1px solid colors.$table-border-color;
}

tbody tr th[rowspan]:first-child {
  border-right: 1px solid colors.$table-border-color;
}

tbody tr th[rowspan="1"]:first-child {
  border-right: none;
}

tbody tr th:first-child {
  text-align: left;
  /* border-left: 1px solid colors.$table-border-outline-color;*/
 /* border-right: 1px solid colors.$table-border-color;*/
  position: sticky;
  left: 0;
  z-index: 5;
  font-weight: typography.$font-weight-semibold;

  &[scope="row"] {
    border-left-color: colors.$table-border-color;
  }

  @media (max-width: breakpoints.$small) {
    max-width: 30vw; 
  }
}

tbody tr th:first-child {
  max-width: 25vw;
}

thead > tr:last-child > td, thead > tr:last-child > th, thead > tr:first-child td[rowspan] {
  border-bottom: 1px solid colors.$table-border-color;
}

thead > tr td:first-child {
  border-left-width: 0;
}

thead > tr th:last-child, tbody > tr td:last-child {
  border-right-width: 0;
}

thead th {
  border-left: 1px solid colors.$table-border-color;

  input[type="submit"] {
    padding: 0;
  }
}

thead th, thead td {
  font-weight: bold;
  text-align: left;
  background-color: colors.$table-background-even;
}

tbody th {
  text-align: left;
}

tbody tr td:first-child { 
  border-left: none !important;
  border-right-color: colors.$table-border-color;
}

tbody tr th { 
  border-left: none !important;
  border-right-color: colors.$table-border-color;
  border-right-width: 1px;
}

/* PxWeb table classes */

/* Indent */
th.layout1-table-stub2 {
  padding-left: sizes.$space-large;
}

th.layout1-table-stub3 {
  padding-left: calc(#{sizes.$space-large} + #{sizes.$space-large}); 
}

th.layout1-table-stub4 {
  padding-left: calc(#{sizes.$space-large} + #{sizes.$space-large} + #{sizes.$space-large}); 
}

/* Cells with attributes */

td.attribute-cell {
  padding: 0 0 0.5rem;

  &::after {
    content: "";
    border-left: 0.75rem solid transparent;
    border-top: 0.75rem solid typography.$link-text;
  }
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: colors.$color-darkest;
    background-color:  colors.$color-lightest;
  }
  &:hover::after {
    border-top-color: typography.$link__hover-text;
  }
}