@use "../base/colors";
@use "../base/breakpoints";
/*
* Default table styling
*/

table {
  margin-top: 12px;
  border-spacing: 0px;
  margin-bottom: 36px;
  line-height: 20px;
  overflow: hidden;
}

thead {
  position: sticky;
  top: 0;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
}

tbody > tr:nth-child(odd) > td, tbody > tr:nth-child(odd) > th {
  background: colors.$table-background-odd;
}

tbody > tr:nth-child(even) > td, tbody > tr:nth-child(even) > th {
  background: colors.$table-background-even;
}

td, th {
  padding: 10px 9px;
  border-left: 1px solid colors.$table-border-color;
  border-top: 1px solid colors.$table-border-color;
  border-bottom: none;
  border-right: none;
  vertical-align: text-top;
  text-align: right;
}

table > tbody > tr:last-child > td, table > tbody > tr:last-child > th {
  border-bottom: 2px solid colors.$table-border-color;
}

thead > tr:first-child > td, thead > tr:first-child > th {
  border-top: 2px solid colors.$table-border-color;
}

thead > tr:last-child > td, thead > tr:last-child > th, thead > tr:first-child td[rowspan] {
  border-bottom: 1px solid colors.$table-border-color;
}

tbody tr th:first-child, tbody tr td:first-child, thead tr td:first-child {
  text-align: left;
  border-left: 1px solid colors.$table-border-outline-color;
  position: sticky;
  left: 0;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);

  @media (max-width: breakpoints.$small) {
    max-width: 30vw; 
  }
}

thead th {
  border-left: 1px solid colors.$table-border-color;
}

table tr th:last-child, table tr td:last-child {
  border-right: 1px solid colors.$table-border-outline-color;
}

thead th, thead td {
  font-weight: bold;
  text-align: left;
  background-color: colors.$table-background-even;
}
