/* The toolbar - now named commandbar */
@use "../base/colors";
@use "../base/breakpoints";

/* Container for burger menu button */
@media (min-width: breakpoints.$small) {
    .tools-menu-item {
        float: left;
    }
}
@media (max-width: breakpoints.$small) {
    #CommandBarShortCuts {
        display: none;
    }
}

#btnBurgerMenu {
    &:visited, &:active {
        background-color: colors.$button-primary-background;
    }
}