@use '../layout/panel';
@use '../base/sizes';
@use '../base/colors';
@use '../base/breakpoints';
@use '../modules/forms';
@use '../config';



.presentation-left.mobilemenu {
  position: fixed;
  overflow: auto;
  height: 100vh;
  max-width: 80vw;
  background-color: #f8f8f8;
  padding: 0;
  box-shadow: 3px 0 8px rgba(25, 25, 25, 0.4);
  border-left: 1px solid #ddd;
  overflow-x: hidden;
  z-index: 100;
  width: #{sizes.$panel-width}px;
  @media (max-width: breakpoints.$extra-small) {
    height: 100vh;
    max-width: 100vw;
  }
}

@if config.$tools_position == 'right' {
  /* Animate slide in and out from left*/
  .presentation-left.mobilemenu:not(.mobilemenuhidden) {
    top: 0;
    right: 0;
  }
  
  .presentation-left.mobilemenuhidden {
    top: 0;
    right: -#{sizes.$panel-width}px;
  }
}

@if config.$tools_position == 'left' {
  /* Animate slide in and out from left*/
  .presentation-left.mobilemenu:not(.mobilemenuhidden) {
    top: 0;
    left: 0;
  }
  
  .presentation-left.mobilemenuhidden {
    top: 0;
    left: -#{sizes.$panel-width}px;
  }
}

.presentation-left button.accordion-header, .presentation-left button.nested-accordion-header.closed, .presentation-left .closed .accordion-body {
  background-color: #f8f8f8;
}

.tools-header {
  h2 {
    padding-left: sizes.$space-medium;
  }
  button {
    position: absolute;
    right: 0;
    top: sizes.$space-large;
  }
}

.container_exit_buttons_row {
  padding: sizes.$space-medium 0;
  border-top: 1px solid colors.$panel-border-color;
}
  