@use '../layout/panel';
@use '../base/sizes';
@use '../base/colors';
@use '../modules/forms';
@use '../config';

.presentation-left.mobilemenu {
  position: fixed;
  overflow: auto;
  height: 100vh;
  max-width: 80vw;
  background-color: #f8f8f8;
  padding: 0;
  box-shadow: 3px 0 8px rgba(25, 25, 25, 0.4);
  border-left: 1px solid #ddd;
  overflow-x: hidden;
  z-index: 100;
  width: #{sizes.$panel-width}px;
}

@if config.$tools_position == 'right' {
  /* Animate slide in and out from left*/
  .presentation-left.mobilemenu:not(.mobilemenuhidden) {
    top: 0;
    right: 0;
  }
  
  .presentation-left.mobilemenuhidden {
    top: 0;
    right: -#{sizes.$panel-width}px;
  }
}

@if config.$tools_position == 'left' {
  /* Animate slide in and out from left*/
  .presentation-left.mobilemenu:not(.mobilemenuhidden) {
    top: 0;
    left: 0;
  }
  
  .presentation-left.mobilemenuhidden {
    top: 0;
    left: -#{sizes.$panel-width}px;
  }
}

.presentation-left button.accordion-header, .presentation-left button.nested-accordion-header.closed, .presentation-left .closed .accordion-body {
  background-color: #f8f8f8;
}

.burger_menu-open-icon::before {
  content: '▾☰';
}

.burger_menu-icon::before {
  content: '▴☰';
}

.burger_menu-icon-noshow {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' id='menu-icon' x='0px' y='0px' viewBox='0 0 512 512'%3e%3cg%3e%3ccircle cx='256' cy='256' r='64'/%3e%3ccircle cx='256' cy='448' r='64'/%3e%3ccircle cx='256' cy='64' r='64'/%3e%3c/g%3e%3c/svg%3e");
  background-position-y: center;
  background-position-x: 18px;
  background-repeat: no-repeat;
  background-size: 18px;
}

.tools-header {
  h2 {
    padding-left: sizes.$space-medium;
  }
  button {
    position: absolute;
    right: 0;
    top: sizes.$space-large;
  }
}

.container_exit_buttons_row {
  padding: sizes.$space-medium 0;
  border-top: 1px solid colors.$panel-border-color;

  input:first-of-type {
    @include forms.icon-button;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='#{colors.$btn-secondary-icon}'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z'/%3E%3C/svg%3E");
  
    &:hover, &:active, &:focus {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='#{colors.$btn-secondary-icon__hover}'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z'/%3E%3C/svg%3E");
    }
    
  }
}

  