@use '../base/typography';
@use '../base/colors';
@use '../base/sizes';

/*
* Treeview, used to select table
*
* TODO: Replace classes in HTML
*/

/* Reset list style */
.AspNet-TreeView ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.AspNet-TreeView ul ul {
    border-top: 1px solid colors.$color-light
}

.AspNet-TreeView ul ul li {
    margin-left: sizes.$space-large;
}

.AspNet-TreeView ul li {
    background-image: none;
    border-bottom: 1px solid colors.$color-light;
    padding: 0;
}

.AspNet-TreeView a, .AspNet-TreeView-ClickableNonLink {
    padding: sizes.$space-smallest 0;
    text-decoration: none;
}

.AspNet-TreeView-Collapse + .AspNet-TreeView-ClickableNonLink {
    font-weight: 700;
}

.AspNet-TreeView ul li:last-of-type {
    border-bottom: none;
}

/* Expandable nodes */
.AspNet-TreeView-Root, .AspNet-TreeView-Parent {

}

/* Expanded parent node */
.AspNet-TreeView-ClickableNonLink {

}
.AspNet-TreeView-Expand::before {
    content: "＋";
}

.AspNet-TreeView-Collapse::before {
    content: "－";
}

/* Clickable leaf node */
.AspNet-TreeView-Leaf {
    margin-left: 0px;
    padding-left: sizes.$space-smallest;
}

/* Hide node */
.AspNet-TreeView-Hide {
    display: none;
}

/* Clickable nodes */
.AspNet-TreeView ul li span.AspNet-TreeView-ClickableNonLink, .AspNet-TreeView a {
    @include typography.textlink;
    @include typography.textlink__hover;
}

.AspNet-TreeView-Collapse, .AspNet-TreeView-Expand {
    &:hover {
        cursor: pointer;
    }
}

/* Icons */
.AspNet-TreeView img {
    margin-left:sizes.$space-medium;
}