@use '../base/typography';
@use '../layout/panel';

/*
* Treeview, used to select table
*
* TODO: Replace classes in HTML
*/

/* Reset list style */
.AspNet-TreeView ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.AspNet-TreeView ul ul {
    margin: 19px 0 0px 30px;
}

.AspNet-TreeView ul li {
    background-image: none;
    font-size: inherit;
    font-family: inherit;
    border-top: 1px solid #949494;
    padding: 18px 0 18px 0;
}

/* Expandable nodes */
.AspNet-TreeView-Root, .AspNet-TreeView-Parent {

}

/* Expanded parent node */
.AspNet-TreeView-ClickableNonLink {

}
.AspNet-TreeView-Expand::before {
    content: "＋";
}

.AspNet-TreeView-Collapse::before {
    content: "－";
}

/* Clickable leaf node */
.AspNet-TreeView-Leaf {
    margin-left: 0px;
    padding-left: 12px;
}

/* Hide node */
.AspNet-TreeView-Hide {
    display: none;
}


