@use '../base/typography';
@use '../base/breakpoints';
@use '../base/colors';
@use '../base/sizes';
@use '../modules/forms';

/* 

Select variable

*/
#SelectionPage .flex-row.justify-space-between {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

#SelectionPage .about-table button {
  border-top: none;
  padding-left: 0;
}

#SelectionPage .about-table {
  border-bottom: 1px solid colors.$color-light;
}

#SelectionPage .justify-center {
  justify-content: left;
}

/* Title */
.variableselector_valuesselect_variabletitle {
  width: 100%;

  label {
    display: inline-block;
  }
}

.variableselector_valuesselect_mandatory_text {
  margin-left: 0.25rem;
  line-height: 1.9rem;

  &::after {
    content: ')';
  }
  &::before {
    content: '(';
  }
}

input[type="submit"].variableselector_continue_button {
  font-size: typography.$font-size-h3;
  max-height: unset;
  padding: sizes.$space-medium sizes.$space-large;
  margin: sizes.$space-medium 0 sizes.$space-large;
}

.variableselector_valuesselect_search_textstart_checkbox label {
  @include typography.text;
  width: 100%;
}

.variableselector_valuesselect_search_textstart_checkbox {
  width: 100%;
  padding: sizes.$space-extra-small 0 sizes.$space-medium;
  display: flex;
}

.variableselector_valuesselect_aggregations {
  margin-top: sizes.$space-large;
}


.variableselector_variable_box_container.flex-row.flex-wrap {
  justify-content: start;
}

.variableselector_variable_box_container > div {
  background-color: colors.$panel-background;
}

  .variableselector_variable_box_container > div, .selectfromgroup-container {
    margin-right: sizes.$space-extra-large;
    min-width: 20rem;
    max-width: 25vw;

    @media (max-width: 660px) {
      width: revert;
      min-width: unset;
      max-width: unset;
      margin-right: unset;
    }
  }

  @media screen and (max-width: 1200) {
    .variableselector_variable_box_container > div {
      width: 48%;
    }
  }

  .optional-variable-icon-panel, .optional-variable-text {
    display: none;
  }

  .pxweb-link {

  }
  // input.variableselector_valuesselect_deselect_all_button is from the special search form
  .variableselector_variable_box_container input[type="submit"], input[type="submit"].variableselector_valuesselect_deselect_all_button {
    border-color: transparent;
    text-decoration: underline;
    padding: 0;
    border-radius: 0;
    margin-bottom: sizes.$space-medium;

    /* @media (max-width: breakpoints.$small) {
      &:first-of-type {
        margin-bottom: sizes.$space-extra-small;
      }
    }*/
  }
    
  .variableselector_valuesselect_statistics_panel p {
    margin-bottom: sizes.$space-extra-small;
  }

  .variableselector_valuesselect_aggregations {
    margin-bottom: sizes.$space-medium;
  }

  .variableselector_valuesselect_select_all_button, .variableselector_valuesselect_deselect_all_button {
    margin-top: sizes.$space-small;
  }


  .search-panel .input-wrapper {
    display: flex;
    flex-direction: row;
  }